<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>05. Verzorging</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>05. Verzorging</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-service_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_service_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-152465e34283479082eb93be2b3ddadf.png" alt="05. Verzorging" usemap="#id-152465e34283479082eb93be2b3ddadfmap"/>
			   <map name="id-152465e34283479082eb93be2b3ddadfmap">
				          <area shape="rect" coords="10,262,90,342" href="../objects/id-c41422cc23154735a8f3b3011ef29977.html" target="element" >
				          <area shape="rect" coords="10,130,90,210" href="../objects/id-a2e7325d4b7d4ab581697f1d0b7dbb77.html" target="element" >
				          <area shape="rect" coords="10,10,90,90" href="../objects/id-79d98f6a26cc4ecd922d312f9be7a104.html" target="element" >
				  		<area shape="rect" coords="596,130,736,210" href="../elements/id-c5488b9aa319428fa060d62c22985adc.html"  target="element">
				  		<area shape="rect" coords="440,130,580,210" href="../elements/id-13970cfee38c46f185d5cd7eda8cdd96.html"  target="element">
				  		<area shape="rect" coords="284,130,424,210" href="../elements/id-7134bfd5f04c4aa98d62ad6c8ec1f473.html"  target="element">
				  		<area shape="rect" coords="128,130,268,210" href="../elements/id-76125552bb814e65881e6b22df9fd4e4.html"  target="element">
				  		<area shape="rect" coords="128,10,736,90" href="../elements/id-4f15310f975e46839cd56c6185836e11.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Verzorging bevat de activiteiten op het gebied van het verzorgen van de pati&#235;nt en het bieden van zorgondersteunende (klinische) diensten.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-4f15310f975e46839cd56c6185836e11.html" target="element"> Verzorging </a> </td>
											    <td> <a href="../elements/id-4f15310f975e46839cd56c6185836e11.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-76125552bb814e65881e6b22df9fd4e4.html" target="element"> Verzorgen pati&#235;nt </a> </td>
											    <td> <a href="../elements/id-76125552bb814e65881e6b22df9fd4e4.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7134bfd5f04c4aa98d62ad6c8ec1f473.html" target="element"> Verlenen welzijnsdiensten </a> </td>
											    <td> <a href="../elements/id-7134bfd5f04c4aa98d62ad6c8ec1f473.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-13970cfee38c46f185d5cd7eda8cdd96.html" target="element"> Verlenen woondiensten </a> </td>
											    <td> <a href="../elements/id-13970cfee38c46f185d5cd7eda8cdd96.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c5488b9aa319428fa060d62c22985adc.html" target="element"> Verlenen zorgwoondiensten </a> </td>
											    <td> <a href="../elements/id-c5488b9aa319428fa060d62c22985adc.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-79d98f6a26cc4ecd922d312f9be7a104.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-79d98f6a26cc4ecd922d312f9be7a104.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a2e7325d4b7d4ab581697f1d0b7dbb77.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a2e7325d4b7d4ab581697f1d0b7dbb77.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-c41422cc23154735a8f3b3011ef29977.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c41422cc23154735a8f3b3011ef29977.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-a2cd0f0436a84cee82a6d58e19f8fad5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a2cd0f0436a84cee82a6d58e19f8fad5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-76125552bb814e65881e6b22df9fd4e4.html" target="element"> Verzorgen pati&#235;nt </a> </td>
																		<td> <a href="../elements/id-4f15310f975e46839cd56c6185836e11.html" target="element"> Verzorging </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7de779ee3d214c2baf55efda37bcc013.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7de779ee3d214c2baf55efda37bcc013.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7134bfd5f04c4aa98d62ad6c8ec1f473.html" target="element"> Verlenen welzijnsdiensten </a> </td>
																		<td> <a href="../elements/id-4f15310f975e46839cd56c6185836e11.html" target="element"> Verzorging </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-65c201e448844448be393958e6e19e35.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-65c201e448844448be393958e6e19e35.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-13970cfee38c46f185d5cd7eda8cdd96.html" target="element"> Verlenen woondiensten </a> </td>
																		<td> <a href="../elements/id-4f15310f975e46839cd56c6185836e11.html" target="element"> Verzorging </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6dd241a50c97406ba6f9c54bfb15b01d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6dd241a50c97406ba6f9c54bfb15b01d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c5488b9aa319428fa060d62c22985adc.html" target="element"> Verlenen zorgwoondiensten </a> </td>
																		<td> <a href="../elements/id-4f15310f975e46839cd56c6185836e11.html" target="element"> Verzorging </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>