<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>02. Toeleiding</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>02. Toeleiding</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-service_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_service_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-16c0c8545233442f8db089d86a068c1d.png" alt="02. Toeleiding" usemap="#id-16c0c8545233442f8db089d86a068c1dmap"/>
			   <map name="id-16c0c8545233442f8db089d86a068c1dmap">
				  		<area shape="rect" coords="1056,262,1196,342" href="../elements/id-6d63fb7fd8e3493c82a20c5fd3550da2.html"  target="element">
				  		<area shape="rect" coords="902,262,1042,342" href="../elements/id-7c64ed537d464a048d597e193e1ca800.html"  target="element">
				  		<area shape="rect" coords="744,262,884,342" href="../elements/id-7a76e74241794a88b8915aa248908167.html"  target="element">
				  		<area shape="rect" coords="589,262,729,342" href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html"  target="element">
				  		<area shape="rect" coords="122,262,262,342" href="../elements/id-815aff8ba21049af85942cc65385f0a4.html"  target="element">
				          <area shape="rect" coords="10,262,90,342" href="../objects/id-7c35cdf672214133ba7d52e63f335a88.html" target="element" >
				          <area shape="rect" coords="10,130,90,210" href="../objects/id-3dd61b7b45e143e5ae8dbd5f14cb2e2f.html" target="element" >
				          <area shape="rect" coords="10,10,90,90" href="../objects/id-07baf92d87c545ef9347a2d96daf1be1.html" target="element" >
				  		<area shape="rect" coords="1056,130,1196,210" href="../elements/id-e206a1f1e37f4053b666473a314a4553.html"  target="element">
				  		<area shape="rect" coords="900,130,1040,210" href="../elements/id-891ad6716d434dcc96bdfc2ae561321d.html"  target="element">
				  		<area shape="rect" coords="744,130,884,210" href="../elements/id-6f9055b1e12245d591fe99444cbec717.html"  target="element">
				  		<area shape="rect" coords="588,130,728,210" href="../elements/id-f4fa21f508704efd9bb20a2f22f953f4.html"  target="element">
				  		<area shape="rect" coords="432,130,572,210" href="../elements/id-c147b4dd5b6046ae9e99f424e35455ee.html"  target="element">
				  		<area shape="rect" coords="276,130,416,210" href="../elements/id-6db8407ea7c84fd8b1d4573c521346c0.html"  target="element">
				  		<area shape="rect" coords="122,130,262,210" href="../elements/id-6cfd3a4911b8414fb2ea568cdc232ae9.html"  target="element">
				  		<area shape="rect" coords="122,10,1196,90" href="../elements/id-97ab5d1d66fc457698ad90534a2ca8c1.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Toeleiding bevat de activiteiten op het gebied van het bepalen van de noodzakelijke zorg op basis van een gestelde diagnose en de vaststelling daarvan in de vorm van een behandelplan.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-97ab5d1d66fc457698ad90534a2ca8c1.html" target="element"> Toeleiding </a> </td>
											    <td> <a href="../elements/id-97ab5d1d66fc457698ad90534a2ca8c1.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6cfd3a4911b8414fb2ea568cdc232ae9.html" target="element"> Aanvragen collegiaal consult </a> </td>
											    <td> <a href="../elements/id-6cfd3a4911b8414fb2ea568cdc232ae9.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6db8407ea7c84fd8b1d4573c521346c0.html" target="element"> Beoordelen resultaat collegiaal consult </a> </td>
											    <td> <a href="../elements/id-6db8407ea7c84fd8b1d4573c521346c0.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c147b4dd5b6046ae9e99f424e35455ee.html" target="element"> Beoordelen uitslag (aanvullend of zelf-) onderzoek </a> </td>
											    <td> <a href="../elements/id-c147b4dd5b6046ae9e99f424e35455ee.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f4fa21f508704efd9bb20a2f22f953f4.html" target="element"> Vaststellen diagnose  </a> </td>
											    <td> <a href="../elements/id-f4fa21f508704efd9bb20a2f22f953f4.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6f9055b1e12245d591fe99444cbec717.html" target="element"> Voorlichten pati&#235;nt </a> </td>
											    <td> <a href="../elements/id-6f9055b1e12245d591fe99444cbec717.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-891ad6716d434dcc96bdfc2ae561321d.html" target="element"> Verkrijgen informed consent </a> </td>
											    <td> <a href="../elements/id-891ad6716d434dcc96bdfc2ae561321d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e206a1f1e37f4053b666473a314a4553.html" target="element"> Periodiek evalueren behandeling </a> </td>
											    <td> <a href="../elements/id-e206a1f1e37f4053b666473a314a4553.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-07baf92d87c545ef9347a2d96daf1be1.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-07baf92d87c545ef9347a2d96daf1be1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-3dd61b7b45e143e5ae8dbd5f14cb2e2f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3dd61b7b45e143e5ae8dbd5f14cb2e2f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-7c35cdf672214133ba7d52e63f335a88.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7c35cdf672214133ba7d52e63f335a88.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-815aff8ba21049af85942cc65385f0a4.html" target="element"> Collegiaal consult </a> </td>
											    <td> <a href="../elements/id-815aff8ba21049af85942cc65385f0a4.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html" target="element"> Diagnose </a> </td>
											    <td> <a href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7a76e74241794a88b8915aa248908167.html" target="element"> Toegekend zorgpad </a> </td>
											    <td> <a href="../elements/id-7a76e74241794a88b8915aa248908167.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7c64ed537d464a048d597e193e1ca800.html" target="element"> Informed consent </a> </td>
											    <td> <a href="../elements/id-7c64ed537d464a048d597e193e1ca800.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6d63fb7fd8e3493c82a20c5fd3550da2.html" target="element"> Behandelplan </a> </td>
											    <td> <a href="../elements/id-6d63fb7fd8e3493c82a20c5fd3550da2.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-96a2b5e1bed74f67ba34b069462fe999.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96a2b5e1bed74f67ba34b069462fe999.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6cfd3a4911b8414fb2ea568cdc232ae9.html" target="element"> Aanvragen collegiaal consult </a> </td>
																		<td> <a href="../elements/id-97ab5d1d66fc457698ad90534a2ca8c1.html" target="element"> Toeleiding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-37ac5e3c689f499d92dcb08f00cd3418.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-37ac5e3c689f499d92dcb08f00cd3418.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6db8407ea7c84fd8b1d4573c521346c0.html" target="element"> Beoordelen resultaat collegiaal consult </a> </td>
																		<td> <a href="../elements/id-97ab5d1d66fc457698ad90534a2ca8c1.html" target="element"> Toeleiding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-063ee88ac2a94b679cc4ad5a1fd94922.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-063ee88ac2a94b679cc4ad5a1fd94922.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c147b4dd5b6046ae9e99f424e35455ee.html" target="element"> Beoordelen uitslag (aanvullend of zelf-) onderzoek </a> </td>
																		<td> <a href="../elements/id-97ab5d1d66fc457698ad90534a2ca8c1.html" target="element"> Toeleiding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9183e82facb04ba08ce9eee85006bda9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9183e82facb04ba08ce9eee85006bda9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f4fa21f508704efd9bb20a2f22f953f4.html" target="element"> Vaststellen diagnose  </a> </td>
																		<td> <a href="../elements/id-97ab5d1d66fc457698ad90534a2ca8c1.html" target="element"> Toeleiding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7d4646d842254336acb0ebb73e4e6211.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7d4646d842254336acb0ebb73e4e6211.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f9055b1e12245d591fe99444cbec717.html" target="element"> Voorlichten pati&#235;nt </a> </td>
																		<td> <a href="../elements/id-97ab5d1d66fc457698ad90534a2ca8c1.html" target="element"> Toeleiding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d865c2d2460241d3ae31e801967d1d39.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d865c2d2460241d3ae31e801967d1d39.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-891ad6716d434dcc96bdfc2ae561321d.html" target="element"> Verkrijgen informed consent </a> </td>
																		<td> <a href="../elements/id-97ab5d1d66fc457698ad90534a2ca8c1.html" target="element"> Toeleiding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-55df42b8f730400db5e14d05ecbf327b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-55df42b8f730400db5e14d05ecbf327b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e206a1f1e37f4053b666473a314a4553.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-97ab5d1d66fc457698ad90534a2ca8c1.html" target="element"> Toeleiding </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>