<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>06. Verkrijgen informed consent</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>06. Verkrijgen informed consent</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-143567dc84ce4321ac47aa4c8a6dd2e1.png" alt="06. Verkrijgen informed consent" usemap="#id-143567dc84ce4321ac47aa4c8a6dd2e1map"/>
			   <map name="id-143567dc84ce4321ac47aa4c8a6dd2e1map">
				  		<area shape="rect" coords="10,195,150,275" href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html"  target="element">
				  		<area shape="rect" coords="10,10,150,90" href="../elements/id-c030400444334ac2a19b52ce963f57a6.html"  target="element">
				  		<area shape="rect" coords="696,96,836,176" href="../elements/id-7c64ed537d464a048d597e193e1ca800.html"  target="element">
				  		<area shape="rect" coords="696,286,836,366" href="../elements/id-6d63fb7fd8e3493c82a20c5fd3550da2.html"  target="element">
				  		<area shape="rect" coords="696,190,836,270" href="../elements/id-7a76e74241794a88b8915aa248908167.html"  target="element">
				  		<area shape="rect" coords="10,286,150,366" href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html"  target="element">
				  		<area shape="rect" coords="10,106,150,186" href="../elements/id-70e69703e36146a5add2d857268d7434.html"  target="element">
				  		<area shape="rect" coords="10,382,150,462" href="../elements/id-81f2060b7b624479b15f0699345d4149.html"  target="element">
				  		<area shape="rect" coords="360,195,500,275" href="../elements/id-891ad6716d434dcc96bdfc2ae561321d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Het verkrijgen van (schriftelijke) toestemming van de pati&#235;nt of de regievoerder voor de uitvoering van een behandeling conform een behandelplan.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-891ad6716d434dcc96bdfc2ae561321d.html" target="element"> Verkrijgen informed consent </a> </td>
											    <td> <a href="../elements/id-891ad6716d434dcc96bdfc2ae561321d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element"> Zorgkennis </a> </td>
											    <td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element"> Pati&#235;nt (basis medische gegevens) </a> </td>
											    <td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html" target="element"> Diagnose </a> </td>
											    <td> <a href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7a76e74241794a88b8915aa248908167.html" target="element"> Toegekend zorgpad </a> </td>
											    <td> <a href="../elements/id-7a76e74241794a88b8915aa248908167.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6d63fb7fd8e3493c82a20c5fd3550da2.html" target="element"> Behandelplan </a> </td>
											    <td> <a href="../elements/id-6d63fb7fd8e3493c82a20c5fd3550da2.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7c64ed537d464a048d597e193e1ca800.html" target="element"> Informed consent </a> </td>
											    <td> <a href="../elements/id-7c64ed537d464a048d597e193e1ca800.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element"> Pati&#235;nt (administratieve gegevens) </a> </td>
											    <td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element"> Zorgverlener </a> </td>
											    <td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-05a30fc60f7e4af5b9105e2b54bf5cc2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-05a30fc60f7e4af5b9105e2b54bf5cc2.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-891ad6716d434dcc96bdfc2ae561321d.html" target="element"> Verkrijgen informed consent </a> </td>
																		<td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element"> Pati&#235;nt (administratieve gegevens) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-859a405c171043a594aaaf2372d69e82.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-859a405c171043a594aaaf2372d69e82.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-891ad6716d434dcc96bdfc2ae561321d.html" target="element"> Verkrijgen informed consent </a> </td>
																		<td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element"> Pati&#235;nt (basis medische gegevens) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c649cac9cdec418ba4bda1ee69dae3ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c649cac9cdec418ba4bda1ee69dae3ae.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-891ad6716d434dcc96bdfc2ae561321d.html" target="element"> Verkrijgen informed consent </a> </td>
																		<td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element"> Zorgverlener </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2e6d03fc0e144c52b341ec094cd7d4bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e6d03fc0e144c52b341ec094cd7d4bf.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-891ad6716d434dcc96bdfc2ae561321d.html" target="element"> Verkrijgen informed consent </a> </td>
																		<td> <a href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html" target="element"> Diagnose </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fc9f5479c97e48c4817348660f681a83.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fc9f5479c97e48c4817348660f681a83.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-891ad6716d434dcc96bdfc2ae561321d.html" target="element"> Verkrijgen informed consent </a> </td>
																		<td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element"> Zorgkennis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a305df304b114f4d8dc4a68a29975173.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a305df304b114f4d8dc4a68a29975173.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-891ad6716d434dcc96bdfc2ae561321d.html" target="element"> Verkrijgen informed consent </a> </td>
																		<td> <a href="../elements/id-7a76e74241794a88b8915aa248908167.html" target="element"> Toegekend zorgpad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-057bf6e39a3f421f93beba510ef56fc6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-057bf6e39a3f421f93beba510ef56fc6.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-891ad6716d434dcc96bdfc2ae561321d.html" target="element"> Verkrijgen informed consent </a> </td>
																		<td> <a href="../elements/id-6d63fb7fd8e3493c82a20c5fd3550da2.html" target="element"> Behandelplan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-64b86335b9eb47dea59e1226ea9ebb97.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-64b86335b9eb47dea59e1226ea9ebb97.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-891ad6716d434dcc96bdfc2ae561321d.html" target="element"> Verkrijgen informed consent </a> </td>
																		<td> <a href="../elements/id-7c64ed537d464a048d597e193e1ca800.html" target="element"> Informed consent </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>