<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>06. Medicatie</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>06. Medicatie</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-service_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_service_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-29aa7b97efff4ee29e949c18033d48f5.png" alt="06. Medicatie" usemap="#id-29aa7b97efff4ee29e949c18033d48f5map"/>
			   <map name="id-29aa7b97efff4ee29e949c18033d48f5map">
				  		<area shape="rect" coords="1066,262,1206,342" href="../elements/id-99870ba12ea2489c9873f9515a711182.html"  target="element">
				  		<area shape="rect" coords="910,262,1050,342" href="../elements/id-596de86a12fe4c7c8d6c5d1bc83219e2.html"  target="element">
				  		<area shape="rect" coords="598,262,738,342" href="../elements/id-29fcc73dcd714f9fbf78f66a7183c587.html"  target="element">
				  		<area shape="rect" coords="442,262,582,342" href="../elements/id-102c7e8898f74466b7e8c21e88ad35c2.html"  target="element">
				  		<area shape="rect" coords="286,262,426,342" href="../elements/id-845f71925e0443599332e22aa34d6144.html"  target="element">
				  		<area shape="rect" coords="130,262,270,342" href="../elements/id-55c33dc524984f6dbd2fd7568772f088.html"  target="element">
				  		<area shape="rect" coords="754,262,894,342" href="../elements/id-6973e009f2c1413e887b797e44275917.html"  target="element">
				          <area shape="rect" coords="10,262,90,342" href="../objects/id-05e165e8900d44f7829263891f70e531.html" target="element" >
				          <area shape="rect" coords="10,130,90,210" href="../objects/id-766f049fa997402ab344245bf11674c7.html" target="element" >
				          <area shape="rect" coords="10,10,90,90" href="../objects/id-308d657eaa9841809f9559960bce99a7.html" target="element" >
				  		<area shape="rect" coords="910,130,1050,210" href="../elements/id-4b194755f22d424b9d593923c381f42d.html"  target="element">
				  		<area shape="rect" coords="754,130,894,210" href="../elements/id-e634ead7839d46129e96cb30d2027c46.html"  target="element">
				  		<area shape="rect" coords="598,130,738,210" href="../elements/id-787b30c6bb8f48d5a9c542574d70cb46.html"  target="element">
				  		<area shape="rect" coords="442,130,582,210" href="../elements/id-2cbbcfc6b5c6459fb31cc83c8f0fdf3a.html"  target="element">
				  		<area shape="rect" coords="286,130,426,210" href="../elements/id-eaad8aba20e04b78b0a30d8d3feafaf3.html"  target="element">
				  		<area shape="rect" coords="130,130,270,210" href="../elements/id-f349e0d7ca8e4e99a2a06f4b0e467e48.html"  target="element">
				  		<area shape="rect" coords="130,10,1050,90" href="../elements/id-8748329bcf78462da14844b9c0bc988e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Medicatie bevat de activiteiten op het gebied van het voorschrijven, bereiden en toedienen van medicatie, alsmede het bewaken van medicatiegebruik.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8748329bcf78462da14844b9c0bc988e.html" target="element"> Medicatie </a> </td>
											    <td> <a href="../elements/id-8748329bcf78462da14844b9c0bc988e.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f349e0d7ca8e4e99a2a06f4b0e467e48.html" target="element"> Voorschrijven medicatie </a> </td>
											    <td> <a href="../elements/id-f349e0d7ca8e4e99a2a06f4b0e467e48.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eaad8aba20e04b78b0a30d8d3feafaf3.html" target="element"> Toedienen medicatie </a> </td>
											    <td> <a href="../elements/id-eaad8aba20e04b78b0a30d8d3feafaf3.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2cbbcfc6b5c6459fb31cc83c8f0fdf3a.html" target="element"> Verwerken medicatie voorschrift </a> </td>
											    <td> <a href="../elements/id-2cbbcfc6b5c6459fb31cc83c8f0fdf3a.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-787b30c6bb8f48d5a9c542574d70cb46.html" target="element"> Afleveren/verstrekken medicatie </a> </td>
											    <td> <a href="../elements/id-787b30c6bb8f48d5a9c542574d70cb46.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e634ead7839d46129e96cb30d2027c46.html" target="element"> Bereiden medicatie </a> </td>
											    <td> <a href="../elements/id-e634ead7839d46129e96cb30d2027c46.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4b194755f22d424b9d593923c381f42d.html" target="element"> Bewaken medicatie </a> </td>
											    <td> <a href="../elements/id-4b194755f22d424b9d593923c381f42d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-308d657eaa9841809f9559960bce99a7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-308d657eaa9841809f9559960bce99a7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-766f049fa997402ab344245bf11674c7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-766f049fa997402ab344245bf11674c7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-05e165e8900d44f7829263891f70e531.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-05e165e8900d44f7829263891f70e531.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-6973e009f2c1413e887b797e44275917.html" target="element"> Medicijn </a> </td>
											    <td> <a href="../elements/id-6973e009f2c1413e887b797e44275917.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-55c33dc524984f6dbd2fd7568772f088.html" target="element"> Medicatievoorschrift </a> </td>
											    <td> <a href="../elements/id-55c33dc524984f6dbd2fd7568772f088.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-845f71925e0443599332e22aa34d6144.html" target="element"> Medicatietoediening </a> </td>
											    <td> <a href="../elements/id-845f71925e0443599332e22aa34d6144.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-102c7e8898f74466b7e8c21e88ad35c2.html" target="element"> Medicatieopdracht </a> </td>
											    <td> <a href="../elements/id-102c7e8898f74466b7e8c21e88ad35c2.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-29fcc73dcd714f9fbf78f66a7183c587.html" target="element"> Medicatieaflevering </a> </td>
											    <td> <a href="../elements/id-29fcc73dcd714f9fbf78f66a7183c587.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-596de86a12fe4c7c8d6c5d1bc83219e2.html" target="element"> Medicatie inventarisatie </a> </td>
											    <td> <a href="../elements/id-596de86a12fe4c7c8d6c5d1bc83219e2.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-99870ba12ea2489c9873f9515a711182.html" target="element"> Contra-indicatie </a> </td>
											    <td> <a href="../elements/id-99870ba12ea2489c9873f9515a711182.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c79acf079f014fc2a74091328a3d82a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c79acf079f014fc2a74091328a3d82a1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f349e0d7ca8e4e99a2a06f4b0e467e48.html" target="element"> Voorschrijven medicatie </a> </td>
																		<td> <a href="../elements/id-8748329bcf78462da14844b9c0bc988e.html" target="element"> Medicatie </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b9aeb39597c049a3b16f3aefd79c25b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b9aeb39597c049a3b16f3aefd79c25b0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eaad8aba20e04b78b0a30d8d3feafaf3.html" target="element"> Toedienen medicatie </a> </td>
																		<td> <a href="../elements/id-8748329bcf78462da14844b9c0bc988e.html" target="element"> Medicatie </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-37c997b5a90d40d79bb7f34caec3f502.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-37c997b5a90d40d79bb7f34caec3f502.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2cbbcfc6b5c6459fb31cc83c8f0fdf3a.html" target="element"> Verwerken medicatie voorschrift </a> </td>
																		<td> <a href="../elements/id-8748329bcf78462da14844b9c0bc988e.html" target="element"> Medicatie </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-76542e3de53149c3a193189a7591276d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-76542e3de53149c3a193189a7591276d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-787b30c6bb8f48d5a9c542574d70cb46.html" target="element"> Afleveren/verstrekken medicatie </a> </td>
																		<td> <a href="../elements/id-8748329bcf78462da14844b9c0bc988e.html" target="element"> Medicatie </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-22503998c5df48c29254542e2859e368.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22503998c5df48c29254542e2859e368.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e634ead7839d46129e96cb30d2027c46.html" target="element"> Bereiden medicatie </a> </td>
																		<td> <a href="../elements/id-8748329bcf78462da14844b9c0bc988e.html" target="element"> Medicatie </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-015e513d41314637bed007a836977b76.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-015e513d41314637bed007a836977b76.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4b194755f22d424b9d593923c381f42d.html" target="element"> Bewaken medicatie </a> </td>
																		<td> <a href="../elements/id-8748329bcf78462da14844b9c0bc988e.html" target="element"> Medicatie </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>