<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overzicht</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overzicht</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-SketchModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-SketchModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-29e682b4f2474abdb6a090dfe25ca979.png" alt="Overzicht" usemap="#id-29e682b4f2474abdb6a090dfe25ca979map"/>
			   <map name="id-29e682b4f2474abdb6a090dfe25ca979map">
				          <area shape="rect" coords="1132,10,1267,80" href="../objects/id-e9026b762da7409ab6ba37253a643cd9.html" target="element" >
				          <area shape="rect" coords="1114,310,1244,347" href="../objects/id-494c5f4a045f4750ba9526766dd27ea0.html" target="element" >
				          <area shape="rect" coords="1114,226,1244,263" href="../objects/id-f3a3e7f1c68845dd9018f53a0bb71e24.html" target="element" >
				          <area shape="rect" coords="1102,124,1232,161" href="../objects/id-0b0a8b82ddb54049a2911d741ad4679b.html" target="element" >
				  		        <area shape="rect" coords="934,298,1064,383" href="../objects/id-8e958ef56bc0453280c1f8aa56db1215.html" target="element" >
				  		        <area shape="rect" coords="934,202,1064,287" href="../objects/id-b817f17aade84d2a818121150312e890.html" target="element" >
				  		        <area shape="rect" coords="934,106,1064,191" href="../objects/id-77b22005478e42c0b3638a126f8a5786.html" target="element" >

				          <area shape="rect" coords="922,82,1076,587" href="../objects/id-00cc2070d0d94ee98de5c338fdfcfb95.html" target="element" >
				          <area shape="rect" coords="10,316,140,353" href="../objects/id-368178f0a193464aaa52d2cd9b153fcb.html" target="element" >
				          <area shape="rect" coords="10,214,140,251" href="../objects/id-744af565a5144a9999fa4755cf91f232.html" target="element" >
				          <area shape="rect" coords="766,406,896,443" href="../objects/id-5a6a0b5b20b44a1dadd512fa2f7a2db7.html" target="element" >
				          <area shape="rect" coords="622,406,752,443" href="../objects/id-b1b4b062b23c4d2aaf73e7220976fb51.html" target="element" >
				          <area shape="rect" coords="478,406,608,443" href="../objects/id-421cbd99abbf4851856a2d471b59ed7b.html" target="element" >
				          <area shape="rect" coords="334,406,464,443" href="../objects/id-8db8a7d2810c4f1485857e58e6d690fc.html" target="element" >
				          <area shape="rect" coords="478,214,608,251" href="../objects/id-30a577c8485c43aab39c94d5bf73db07.html" target="element" >
				          <area shape="rect" coords="622,214,752,251" href="../objects/id-b0b87dcd8fd5423e838704e4d05675b0.html" target="element" >
				          <area shape="rect" coords="334,214,464,251" href="../objects/id-5b6b13f87ea54a66970e50b600bb1257.html" target="element" >
				          <area shape="rect" coords="10,124,140,161" href="../objects/id-81580635178a42779703e122ec926ce9.html" target="element" >
				          <area shape="rect" coords="334,10,464,47" href="../objects/id-968f38e829094bb6aad10f94863fb153.html" target="element" >
				          <area shape="rect" coords="622,10,752,47" href="../objects/id-f16b8c352db640b98d68dc877124e217.html" target="element" >
				          <area shape="rect" coords="478,10,608,47" href="../objects/id-468658bf94b5449c8a90f1387d3098e2.html" target="element" >
				          <area shape="rect" coords="766,10,896,47" href="../objects/id-739f334f478e43bcb684f0f1191f779e.html" target="element" >
				  		        <area shape="rect" coords="766,490,896,575" href="../objects/id-7bcdef728630480e88c9663c0f345fc7.html" target="element" >
				  		        <area shape="rect" coords="334,490,464,575" href="../objects/id-b3ca7e53b06540f198528d65d0795d6a.html" target="element" >
				  		        <area shape="rect" coords="478,490,608,575" href="../objects/id-d613b56443104406b467ad4aed96d338.html" target="element" >
				  		        <area shape="rect" coords="622,490,752,575" href="../objects/id-de113027046049168702bf7fcc705933.html" target="element" >

				          <area shape="rect" coords="322,466,911,587" href="../objects/id-bbe50f68cb734ac88527cfb59819638d.html" target="element" >
				  		        <area shape="rect" coords="622,298,752,383" href="../objects/id-f93e858dc170498d96e7f0b14db1d19e.html" target="element" >
				  		        <area shape="rect" coords="478,298,608,383" href="../objects/id-0f9851118f1546ce8e7144adb5059514.html" target="element" >
				  		        <area shape="rect" coords="334,298,464,383" href="../objects/id-3c2229c293774d0798b9d80769d8bd25.html" target="element" >

				          <area shape="rect" coords="322,274,911,395" href="../objects/id-9b78fd966adb4d8bb827858fcf4f0e51.html" target="element" >
				  		        <area shape="rect" coords="337,106,467,191" href="../objects/id-142c83c5ab284d0793f4d7f877d01d5d.html" target="element" >
				  		        <area shape="rect" coords="766,106,896,191" href="../objects/id-03cfd373e9f7420fa9f2fed15ae2c247.html" target="element" >
				  		        <area shape="rect" coords="622,106,752,191" href="../objects/id-f22be678f92448c281326b1b9ed8cfe7.html" target="element" >
				  		        <area shape="rect" coords="478,106,608,191" href="../objects/id-cf47f72dd8d34f12873513bddb94a6fc.html" target="element" >

				          <area shape="rect" coords="322,82,911,203" href="../objects/id-37416adf538b43e29110e7dfc0dd8c89.html" target="element" >
				  		        <area shape="rect" coords="166,298,296,383" href="../objects/id-3c5774fac690418bbfca8e2a448afd46.html" target="element" >
				  		        <area shape="rect" coords="166,202,296,287" href="../objects/id-9c4bbd4c54814c3c92ee59c288833703.html" target="element" >
				  		        <area shape="rect" coords="166,106,296,191" href="../objects/id-e568e6203dc8416d879651ff77aedaa6.html" target="element" >

				          <area shape="rect" coords="154,82,308,587" href="../objects/id-e8e2cf5d79cd485485623b1cc9aa214d.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">De architectuur van dit model is opgebouwd uit drie lagen en twee pijlers: Kaders, Bedrijfsarchitectuur, informatie architectuur,  technische architectuur, sturing &amp; beheer.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-e8e2cf5d79cd485485623b1cc9aa214d.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-e8e2cf5d79cd485485623b1cc9aa214d.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-e568e6203dc8416d879651ff77aedaa6.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-e568e6203dc8416d879651ff77aedaa6.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-9c4bbd4c54814c3c92ee59c288833703.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-9c4bbd4c54814c3c92ee59c288833703.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-3c5774fac690418bbfca8e2a448afd46.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-3c5774fac690418bbfca8e2a448afd46.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-37416adf538b43e29110e7dfc0dd8c89.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-37416adf538b43e29110e7dfc0dd8c89.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-cf47f72dd8d34f12873513bddb94a6fc.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-cf47f72dd8d34f12873513bddb94a6fc.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-f22be678f92448c281326b1b9ed8cfe7.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-f22be678f92448c281326b1b9ed8cfe7.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-03cfd373e9f7420fa9f2fed15ae2c247.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-03cfd373e9f7420fa9f2fed15ae2c247.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-142c83c5ab284d0793f4d7f877d01d5d.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-142c83c5ab284d0793f4d7f877d01d5d.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-9b78fd966adb4d8bb827858fcf4f0e51.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-9b78fd966adb4d8bb827858fcf4f0e51.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-3c2229c293774d0798b9d80769d8bd25.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-3c2229c293774d0798b9d80769d8bd25.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-0f9851118f1546ce8e7144adb5059514.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-0f9851118f1546ce8e7144adb5059514.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-f93e858dc170498d96e7f0b14db1d19e.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-f93e858dc170498d96e7f0b14db1d19e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-bbe50f68cb734ac88527cfb59819638d.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-bbe50f68cb734ac88527cfb59819638d.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-de113027046049168702bf7fcc705933.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-de113027046049168702bf7fcc705933.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-d613b56443104406b467ad4aed96d338.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-d613b56443104406b467ad4aed96d338.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b3ca7e53b06540f198528d65d0795d6a.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-b3ca7e53b06540f198528d65d0795d6a.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-7bcdef728630480e88c9663c0f345fc7.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-7bcdef728630480e88c9663c0f345fc7.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-739f334f478e43bcb684f0f1191f779e.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-739f334f478e43bcb684f0f1191f779e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-468658bf94b5449c8a90f1387d3098e2.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-468658bf94b5449c8a90f1387d3098e2.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f16b8c352db640b98d68dc877124e217.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-f16b8c352db640b98d68dc877124e217.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-968f38e829094bb6aad10f94863fb153.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-968f38e829094bb6aad10f94863fb153.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-81580635178a42779703e122ec926ce9.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-81580635178a42779703e122ec926ce9.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-5b6b13f87ea54a66970e50b600bb1257.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-5b6b13f87ea54a66970e50b600bb1257.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b0b87dcd8fd5423e838704e4d05675b0.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-b0b87dcd8fd5423e838704e4d05675b0.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-30a577c8485c43aab39c94d5bf73db07.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-30a577c8485c43aab39c94d5bf73db07.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8db8a7d2810c4f1485857e58e6d690fc.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-8db8a7d2810c4f1485857e58e6d690fc.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-421cbd99abbf4851856a2d471b59ed7b.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-421cbd99abbf4851856a2d471b59ed7b.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b1b4b062b23c4d2aaf73e7220976fb51.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-b1b4b062b23c4d2aaf73e7220976fb51.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-5a6a0b5b20b44a1dadd512fa2f7a2db7.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-5a6a0b5b20b44a1dadd512fa2f7a2db7.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-744af565a5144a9999fa4755cf91f232.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-744af565a5144a9999fa4755cf91f232.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-368178f0a193464aaa52d2cd9b153fcb.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-368178f0a193464aaa52d2cd9b153fcb.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-00cc2070d0d94ee98de5c338fdfcfb95.html" target="element"> Servicemanagement </a> </td>
									           <td> <a href="../objects/id-00cc2070d0d94ee98de5c338fdfcfb95.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-77b22005478e42c0b3638a126f8a5786.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-77b22005478e42c0b3638a126f8a5786.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b817f17aade84d2a818121150312e890.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-b817f17aade84d2a818121150312e890.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-8e958ef56bc0453280c1f8aa56db1215.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-8e958ef56bc0453280c1f8aa56db1215.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-0b0a8b82ddb54049a2911d741ad4679b.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-0b0a8b82ddb54049a2911d741ad4679b.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f3a3e7f1c68845dd9018f53a0bb71e24.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-f3a3e7f1c68845dd9018f53a0bb71e24.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-494c5f4a045f4750ba9526766dd27ea0.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-494c5f4a045f4750ba9526766dd27ea0.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e9026b762da7409ab6ba37253a643cd9.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-e9026b762da7409ab6ba37253a643cd9.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>