<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Inhoud</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Inhoud</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-SketchModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-SketchModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-29e682b4f2474abdb6a090dfe25ca979.png" alt="Inhoud" usemap="#id-29e682b4f2474abdb6a090dfe25ca979map"/>
			   <map name="id-29e682b4f2474abdb6a090dfe25ca979map">
				          <area shape="rect" coords="29,418,164,443" href="../objects/id-d3e6ee434f8d4d28b1578a5116e4aea4.html" target="element" >
				          <area shape="rect" coords="10,424,23,437" href="../objects/id-5fbbf1ef2cf542e68035d271fb0cc722.html" target="element" >
				          <area shape="rect" coords="29,400,164,425" href="../objects/id-0d048419b8164ea8ac2eb16f9e652d0d.html" target="element" >
				          <area shape="rect" coords="10,406,23,419" href="../objects/id-5d25c00136d6409095a76795ecea424b.html" target="element" >
				  		        <area shape="rect" coords="790,226,920,311" href="../objects/id-8e958ef56bc0453280c1f8aa56db1215.html" target="element" >
				  		        <area shape="rect" coords="790,130,920,215" href="../objects/id-b817f17aade84d2a818121150312e890.html" target="element" >
				  		        <area shape="rect" coords="790,34,920,119" href="../objects/id-77b22005478e42c0b3638a126f8a5786.html" target="element" >

				          <area shape="rect" coords="778,10,932,395" href="../objects/id-00cc2070d0d94ee98de5c338fdfcfb95.html" target="element" >
				  		        <area shape="rect" coords="622,298,752,383" href="../objects/id-7bcdef728630480e88c9663c0f345fc7.html" target="element" >
				  		        <area shape="rect" coords="190,298,320,383" href="../objects/id-b3ca7e53b06540f198528d65d0795d6a.html" target="element" >
				  		        <area shape="rect" coords="334,298,464,383" href="../objects/id-d613b56443104406b467ad4aed96d338.html" target="element" >
				  		        <area shape="rect" coords="478,298,608,383" href="../objects/id-de113027046049168702bf7fcc705933.html" target="element" >

				          <area shape="rect" coords="178,274,767,395" href="../objects/id-bbe50f68cb734ac88527cfb59819638d.html" target="element" >
				  		        <area shape="rect" coords="478,166,608,251" href="../objects/id-f93e858dc170498d96e7f0b14db1d19e.html" target="element" >
				  		        <area shape="rect" coords="334,166,464,251" href="../objects/id-0f9851118f1546ce8e7144adb5059514.html" target="element" >
				  		        <area shape="rect" coords="190,166,320,251" href="../objects/id-3c2229c293774d0798b9d80769d8bd25.html" target="element" >

				          <area shape="rect" coords="178,142,767,263" href="../objects/id-9b78fd966adb4d8bb827858fcf4f0e51.html" target="element" >
				  		        <area shape="rect" coords="334,34,464,119" href="../objects/id-f0a217c4bd6443499b20b2948524021c.html" target="element" >
				  		        <area shape="rect" coords="193,34,323,119" href="../objects/id-142c83c5ab284d0793f4d7f877d01d5d.html" target="element" >
				  		        <area shape="rect" coords="622,34,752,119" href="../objects/id-03cfd373e9f7420fa9f2fed15ae2c247.html" target="element" >
				  		        <area shape="rect" coords="478,34,608,119" href="../objects/id-f22be678f92448c281326b1b9ed8cfe7.html" target="element" >

				          <area shape="rect" coords="178,10,767,131" href="../objects/id-37416adf538b43e29110e7dfc0dd8c89.html" target="element" >
				  		        <area shape="rect" coords="22,226,152,311" href="../objects/id-3c5774fac690418bbfca8e2a448afd46.html" target="element" >
				  		        <area shape="rect" coords="22,130,152,215" href="../objects/id-9c4bbd4c54814c3c92ee59c288833703.html" target="element" >
				  		        <area shape="rect" coords="22,34,152,119" href="../objects/id-e568e6203dc8416d879651ff77aedaa6.html" target="element" >

				          <area shape="rect" coords="10,10,164,395" href="../objects/id-e8e2cf5d79cd485485623b1cc9aa214d.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">De architectuur van dit model is opgebouwd uit drie lagen en twee pijlers: Kaders, Bedrijfsarchitectuur, informatie architectuur,  technische architectuur, sturing &amp; beheer.

- 02. Diensten en 03. Diensten &amp; Activiteiten heb ik overgenomen uit RDG 1.0
- 04. Activiteiten &amp; Informatieverwerking heb ik afgeleid uit RDZ 2.2
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-e8e2cf5d79cd485485623b1cc9aa214d.html" target="element"> Pijler </a> </td>
									           <td> <a href="../objects/id-e8e2cf5d79cd485485623b1cc9aa214d.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-e568e6203dc8416d879651ff77aedaa6.html" target="element"> Onderwerp </a> </td>
											           <td> <a href="../objects/id-e568e6203dc8416d879651ff77aedaa6.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-9c4bbd4c54814c3c92ee59c288833703.html" target="element"> Onderwerp </a> </td>
											           <td> <a href="../objects/id-9c4bbd4c54814c3c92ee59c288833703.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-3c5774fac690418bbfca8e2a448afd46.html" target="element"> Onderwerp </a> </td>
											           <td> <a href="../objects/id-3c5774fac690418bbfca8e2a448afd46.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-37416adf538b43e29110e7dfc0dd8c89.html" target="element"> Laag </a> </td>
									           <td> <a href="../objects/id-37416adf538b43e29110e7dfc0dd8c89.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-f22be678f92448c281326b1b9ed8cfe7.html" target="element"> Onderwerp </a> </td>
											           <td> <a href="../objects/id-f22be678f92448c281326b1b9ed8cfe7.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-03cfd373e9f7420fa9f2fed15ae2c247.html" target="element"> Onderwerp </a> </td>
											           <td> <a href="../objects/id-03cfd373e9f7420fa9f2fed15ae2c247.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-142c83c5ab284d0793f4d7f877d01d5d.html" target="element"> Onderwerp </a> </td>
											           <td> <a href="../objects/id-142c83c5ab284d0793f4d7f877d01d5d.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-f0a217c4bd6443499b20b2948524021c.html" target="element"> Onderwerp </a> </td>
											           <td> <a href="../objects/id-f0a217c4bd6443499b20b2948524021c.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-9b78fd966adb4d8bb827858fcf4f0e51.html" target="element"> Laag </a> </td>
									           <td> <a href="../objects/id-9b78fd966adb4d8bb827858fcf4f0e51.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-3c2229c293774d0798b9d80769d8bd25.html" target="element"> Onderwerp </a> </td>
											           <td> <a href="../objects/id-3c2229c293774d0798b9d80769d8bd25.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-0f9851118f1546ce8e7144adb5059514.html" target="element"> Onderwerp </a> </td>
											           <td> <a href="../objects/id-0f9851118f1546ce8e7144adb5059514.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-f93e858dc170498d96e7f0b14db1d19e.html" target="element"> Onderwerp </a> </td>
											           <td> <a href="../objects/id-f93e858dc170498d96e7f0b14db1d19e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-bbe50f68cb734ac88527cfb59819638d.html" target="element"> Laag </a> </td>
									           <td> <a href="../objects/id-bbe50f68cb734ac88527cfb59819638d.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-de113027046049168702bf7fcc705933.html" target="element"> Onderwerp </a> </td>
											           <td> <a href="../objects/id-de113027046049168702bf7fcc705933.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-d613b56443104406b467ad4aed96d338.html" target="element"> Onderwerp </a> </td>
											           <td> <a href="../objects/id-d613b56443104406b467ad4aed96d338.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b3ca7e53b06540f198528d65d0795d6a.html" target="element"> Onderwerp </a> </td>
											           <td> <a href="../objects/id-b3ca7e53b06540f198528d65d0795d6a.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-7bcdef728630480e88c9663c0f345fc7.html" target="element"> Onderwerp </a> </td>
											           <td> <a href="../objects/id-7bcdef728630480e88c9663c0f345fc7.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-00cc2070d0d94ee98de5c338fdfcfb95.html" target="element"> Pijler </a> </td>
									           <td> <a href="../objects/id-00cc2070d0d94ee98de5c338fdfcfb95.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-77b22005478e42c0b3638a126f8a5786.html" target="element"> Onderwerp </a> </td>
											           <td> <a href="../objects/id-77b22005478e42c0b3638a126f8a5786.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b817f17aade84d2a818121150312e890.html" target="element"> Onderwerp </a> </td>
											           <td> <a href="../objects/id-b817f17aade84d2a818121150312e890.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-8e958ef56bc0453280c1f8aa56db1215.html" target="element"> Onderwerp </a> </td>
											           <td> <a href="../objects/id-8e958ef56bc0453280c1f8aa56db1215.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-5d25c00136d6409095a76795ecea424b.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-5d25c00136d6409095a76795ecea424b.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-0d048419b8164ea8ac2eb16f9e652d0d.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-0d048419b8164ea8ac2eb16f9e652d0d.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-5fbbf1ef2cf542e68035d271fb0cc722.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-5fbbf1ef2cf542e68035d271fb0cc722.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d3e6ee434f8d4d28b1578a5116e4aea4.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-d3e6ee434f8d4d28b1578a5116e4aea4.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>