<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>02. Beoordelen resultaat collegiaal consult</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>02. Beoordelen resultaat collegiaal consult</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-22dd444af0074231b95fa81b54656675.png" alt="02. Beoordelen resultaat collegiaal consult" usemap="#id-22dd444af0074231b95fa81b54656675map"/>
			   <map name="id-22dd444af0074231b95fa81b54656675map">
				  		<area shape="rect" coords="10,586,150,666" href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html"  target="element">
				  		<area shape="rect" coords="10,394,150,474" href="../elements/id-c030400444334ac2a19b52ce963f57a6.html"  target="element">
				  		<area shape="rect" coords="10,298,150,378" href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html"  target="element">
				  		<area shape="rect" coords="10,202,150,282" href="../elements/id-7fd87fe654464dd9ac50db931547f655.html"  target="element">
				  		<area shape="rect" coords="730,298,870,378" href="../elements/id-8b4aa17d6721445da9a77a7907ad4805.html"  target="element">
				  		<area shape="rect" coords="10,490,150,570" href="../elements/id-70e69703e36146a5add2d857268d7434.html"  target="element">
				  		<area shape="rect" coords="10,106,150,186" href="../elements/id-81f2060b7b624479b15f0699345d4149.html"  target="element">
				  		<area shape="rect" coords="10,10,150,90" href="../elements/id-815aff8ba21049af85942cc65385f0a4.html"  target="element">
				  		<area shape="rect" coords="382,298,522,378" href="../elements/id-6db8407ea7c84fd8b1d4573c521346c0.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Beoordelen van de bevindingen die zijn gedaan bij een collegiaal consult en deze betrekken bij diagnose en behandelplan.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6db8407ea7c84fd8b1d4573c521346c0.html" target="element"> Beoordelen resultaat collegiaal consult </a> </td>
											    <td> <a href="../elements/id-6db8407ea7c84fd8b1d4573c521346c0.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-815aff8ba21049af85942cc65385f0a4.html" target="element"> Collegiaal consult </a> </td>
											    <td> <a href="../elements/id-815aff8ba21049af85942cc65385f0a4.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element"> Zorgkennis </a> </td>
											    <td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element"> Pati&#235;nt (basis medische gegevens) </a> </td>
											    <td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8b4aa17d6721445da9a77a7907ad4805.html" target="element"> Decursus </a> </td>
											    <td> <a href="../elements/id-8b4aa17d6721445da9a77a7907ad4805.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7fd87fe654464dd9ac50db931547f655.html" target="element"> Anamnese </a> </td>
											    <td> <a href="../elements/id-7fd87fe654464dd9ac50db931547f655.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html" target="element"> Diagnose </a> </td>
											    <td> <a href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element"> Pati&#235;nt (administratieve gegevens) </a> </td>
											    <td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element"> Zorgverlener </a> </td>
											    <td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-68580624ef0c4cd0bc42a85c018aa252.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-68580624ef0c4cd0bc42a85c018aa252.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6db8407ea7c84fd8b1d4573c521346c0.html" target="element"> Beoordelen resultaat collegiaal consult </a> </td>
																		<td> <a href="../elements/id-815aff8ba21049af85942cc65385f0a4.html" target="element"> Collegiaal consult </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e3494f29145a4d45aeab2c2972811cfd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e3494f29145a4d45aeab2c2972811cfd.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6db8407ea7c84fd8b1d4573c521346c0.html" target="element"> Beoordelen resultaat collegiaal consult </a> </td>
																		<td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element"> Zorgkennis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e6e24c65ebb641539b1ae993d97885b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e6e24c65ebb641539b1ae993d97885b9.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6db8407ea7c84fd8b1d4573c521346c0.html" target="element"> Beoordelen resultaat collegiaal consult </a> </td>
																		<td> <a href="../elements/id-7fd87fe654464dd9ac50db931547f655.html" target="element"> Anamnese </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-622f34010b9a41feb694d4fc15163e1a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-622f34010b9a41feb694d4fc15163e1a.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6db8407ea7c84fd8b1d4573c521346c0.html" target="element"> Beoordelen resultaat collegiaal consult </a> </td>
																		<td> <a href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html" target="element"> Diagnose </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-06b964eece214f81a0136414a1e01041.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06b964eece214f81a0136414a1e01041.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6db8407ea7c84fd8b1d4573c521346c0.html" target="element"> Beoordelen resultaat collegiaal consult </a> </td>
																		<td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element"> Pati&#235;nt (administratieve gegevens) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8d69d88c359e4bf682494ae7f80eec84.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8d69d88c359e4bf682494ae7f80eec84.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6db8407ea7c84fd8b1d4573c521346c0.html" target="element"> Beoordelen resultaat collegiaal consult </a> </td>
																		<td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element"> Pati&#235;nt (basis medische gegevens) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cdab4cd005234d408b0ac387d168e949.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cdab4cd005234d408b0ac387d168e949.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6db8407ea7c84fd8b1d4573c521346c0.html" target="element"> Beoordelen resultaat collegiaal consult </a> </td>
																		<td> <a href="../elements/id-8b4aa17d6721445da9a77a7907ad4805.html" target="element"> Decursus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-31ccf381e0f04c3b958146f4fe7822c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-31ccf381e0f04c3b958146f4fe7822c4.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6db8407ea7c84fd8b1d4573c521346c0.html" target="element"> Beoordelen resultaat collegiaal consult </a> </td>
																		<td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element"> Zorgverlener </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>