<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>01. Sturing</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>01. Sturing</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-service_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_service_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3a8b6bc036c847c0a6d866f8093940dd.png" alt="01. Sturing" usemap="#id-3a8b6bc036c847c0a6d866f8093940ddmap"/>
			   <map name="id-3a8b6bc036c847c0a6d866f8093940ddmap">
				  		<area shape="rect" coords="478,130,618,210" href="../elements/id-47a1975767f84a92a9585d8dc5feed8d.html"  target="element">
				  		<area shape="rect" coords="322,130,462,210" href="../elements/id-919635fea1884b289c253c2db621b3ab.html"  target="element">
				  		<area shape="rect" coords="166,130,306,210" href="../elements/id-821aaa40e0d04ef6944f6520870b5690.html"  target="element">
				  		<area shape="rect" coords="10,130,150,210" href="../elements/id-7a7ac5415c4e4afa8a8ff95621290805.html"  target="element">
				  		<area shape="rect" coords="10,10,618,90" href="../elements/id-2ecb8887e604428ea364ac8195fdbcca.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-2ecb8887e604428ea364ac8195fdbcca.html" target="element"> Sturing </a> </td>
											    <td> <a href="../elements/id-2ecb8887e604428ea364ac8195fdbcca.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7a7ac5415c4e4afa8a8ff95621290805.html" target="element"> Bepalen Missie en Visie </a> </td>
											    <td> <a href="../elements/id-7a7ac5415c4e4afa8a8ff95621290805.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-821aaa40e0d04ef6944f6520870b5690.html" target="element"> Ontwikkelen en bijstellen van de strategie </a> </td>
											    <td> <a href="../elements/id-821aaa40e0d04ef6944f6520870b5690.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-919635fea1884b289c253c2db621b3ab.html" target="element"> Bepalen beleid </a> </td>
											    <td> <a href="../elements/id-919635fea1884b289c253c2db621b3ab.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-47a1975767f84a92a9585d8dc5feed8d.html" target="element"> Inrichten en beheersen beleid </a> </td>
											    <td> <a href="../elements/id-47a1975767f84a92a9585d8dc5feed8d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-685565a1c72344afa9451c5b15942417.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-685565a1c72344afa9451c5b15942417.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7a7ac5415c4e4afa8a8ff95621290805.html" target="element"> Bepalen Missie en Visie </a> </td>
																		<td> <a href="../elements/id-2ecb8887e604428ea364ac8195fdbcca.html" target="element"> Sturing </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a51d0cf45f0d4b7ab94a60f43b82ac96.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a51d0cf45f0d4b7ab94a60f43b82ac96.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-821aaa40e0d04ef6944f6520870b5690.html" target="element"> Ontwikkelen en bijstellen van de strategie </a> </td>
																		<td> <a href="../elements/id-2ecb8887e604428ea364ac8195fdbcca.html" target="element"> Sturing </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-63357d223020472899de1f435794102e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-63357d223020472899de1f435794102e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-919635fea1884b289c253c2db621b3ab.html" target="element"> Bepalen beleid </a> </td>
																		<td> <a href="../elements/id-2ecb8887e604428ea364ac8195fdbcca.html" target="element"> Sturing </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-41a531c31d894de483c551caf70772f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41a531c31d894de483c551caf70772f3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47a1975767f84a92a9585d8dc5feed8d.html" target="element"> Inrichten en beheersen beleid </a> </td>
																		<td> <a href="../elements/id-2ecb8887e604428ea364ac8195fdbcca.html" target="element"> Sturing </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>