<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>03. Personeel- en organisatiebeheer</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>03. Personeel- en organisatiebeheer</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-service_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_service_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-41ebe4c53c3e441e83e0db0c81175a6c.png" alt="03. Personeel- en organisatiebeheer" usemap="#id-41ebe4c53c3e441e83e0db0c81175a6cmap"/>
			   <map name="id-41ebe4c53c3e441e83e0db0c81175a6cmap">
				  		<area shape="rect" coords="283,69,307,90" href="../views/id-7ae3dd73c51541618f3ca4f48dbfca41.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="638,262,778,342" href="../elements/id-31b5f59cf780459da66050109109a5f2.html"  target="element">
				  		<area shape="rect" coords="470,262,610,342" href="../elements/id-5898e45b04424e72b1bcfaa1112d1175.html"  target="element">
				  		<area shape="rect" coords="305,262,445,342" href="../elements/id-3b5f1ea25e744e6b95f92a4d1ba278b5.html"  target="element">
				  		<area shape="rect" coords="146,262,286,342" href="../elements/id-80fa3dc11600403aaec43e9b5031d39c.html"  target="element">
				          <area shape="rect" coords="10,262,90,342" href="../objects/id-992573a4525d41feac28e6c4468f4910.html" target="element" >
				          <area shape="rect" coords="10,130,90,210" href="../objects/id-f2e26afbde274f2a8a8b5324c910ed5f.html" target="element" >
				          <area shape="rect" coords="10,10,90,90" href="../objects/id-b5bcd1ff3e824b58926dfa16a31712dc.html" target="element" >
				  		<area shape="rect" coords="305,130,445,210" href="../elements/id-95c6cecbdf5b4baba758bc41c312fe5d.html"  target="element">
				  		<area shape="rect" coords="146,130,286,210" href="../elements/id-8ec582efaae04d95a374e53b70a045fa.html"  target="element">
				  		<area shape="rect" coords="146,10,445,90" href="../elements/id-0c7cd9b6321e4f5aa4d59fa13f040e0c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Personeel- en organisatiebeheer bevat de activiteiten ten behoeve van het personeelsbeheer.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-0c7cd9b6321e4f5aa4d59fa13f040e0c.html" target="element"> Personeel- en organisatiebeheer </a> </td>
											    <td> <a href="../elements/id-0c7cd9b6321e4f5aa4d59fa13f040e0c.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ec582efaae04d95a374e53b70a045fa.html" target="element"> Leveren van HR diensten </a> </td>
											    <td> <a href="../elements/id-8ec582efaae04d95a374e53b70a045fa.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-95c6cecbdf5b4baba758bc41c312fe5d.html" target="element"> Beheren personeelsinformatie </a> </td>
											    <td> <a href="../elements/id-95c6cecbdf5b4baba758bc41c312fe5d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-b5bcd1ff3e824b58926dfa16a31712dc.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b5bcd1ff3e824b58926dfa16a31712dc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f2e26afbde274f2a8a8b5324c910ed5f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f2e26afbde274f2a8a8b5324c910ed5f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-992573a4525d41feac28e6c4468f4910.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-992573a4525d41feac28e6c4468f4910.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-80fa3dc11600403aaec43e9b5031d39c.html" target="element"> Organisatiestructuur </a> </td>
											    <td> <a href="../elements/id-80fa3dc11600403aaec43e9b5031d39c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3b5f1ea25e744e6b95f92a4d1ba278b5.html" target="element"> Arbeidsovereenkomst </a> </td>
											    <td> <a href="../elements/id-3b5f1ea25e744e6b95f92a4d1ba278b5.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5898e45b04424e72b1bcfaa1112d1175.html" target="element"> Functieprofiel </a> </td>
											    <td> <a href="../elements/id-5898e45b04424e72b1bcfaa1112d1175.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-31b5f59cf780459da66050109109a5f2.html" target="element"> Personeelsdossier </a> </td>
											    <td> <a href="../elements/id-31b5f59cf780459da66050109109a5f2.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-7ae3dd73c51541618f3ca4f48dbfca41.html" target="view"> 01. Diensten </a> </td>
											    <td> <a href="../views/id-7ae3dd73c51541618f3ca4f48dbfca41.html" target="view" class="i18n-viewpoint-service_realization"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-9c3d568954b94549bc6e6abccfa34817.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c3d568954b94549bc6e6abccfa34817.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8ec582efaae04d95a374e53b70a045fa.html" target="element"> Leveren van HR diensten </a> </td>
																		<td> <a href="../elements/id-0c7cd9b6321e4f5aa4d59fa13f040e0c.html" target="element"> Personeel- en organisatiebeheer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f59ea2d1f0494304a60d50573e8c701a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f59ea2d1f0494304a60d50573e8c701a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-95c6cecbdf5b4baba758bc41c312fe5d.html" target="element"> Beheren personeelsinformatie </a> </td>
																		<td> <a href="../elements/id-0c7cd9b6321e4f5aa4d59fa13f040e0c.html" target="element"> Personeel- en organisatiebeheer </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>