<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>03. Personeel- en organisatiebeheer</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>03. Personeel- en organisatiebeheer</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-service_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_service_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-41ebe4c53c3e441e83e0db0c81175a6c.png" alt="03. Personeel- en organisatiebeheer" usemap="#id-41ebe4c53c3e441e83e0db0c81175a6cmap"/>
			   <map name="id-41ebe4c53c3e441e83e0db0c81175a6cmap">
				  		<area shape="rect" coords="169,137,309,217" href="../elements/id-95c6cecbdf5b4baba758bc41c312fe5d.html"  target="element">
				  		<area shape="rect" coords="10,137,150,217" href="../elements/id-8ec582efaae04d95a374e53b70a045fa.html"  target="element">
				  		<area shape="rect" coords="10,10,309,90" href="../elements/id-0c7cd9b6321e4f5aa4d59fa13f040e0c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Personeel- en organisatiebeheer bevat de activiteiten ten behoeve van het personeelsbeheer.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-0c7cd9b6321e4f5aa4d59fa13f040e0c.html" target="element"> Personeel- en organisatiebeheer </a> </td>
											    <td> <a href="../elements/id-0c7cd9b6321e4f5aa4d59fa13f040e0c.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ec582efaae04d95a374e53b70a045fa.html" target="element"> Leveren van HR diensten </a> </td>
											    <td> <a href="../elements/id-8ec582efaae04d95a374e53b70a045fa.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-95c6cecbdf5b4baba758bc41c312fe5d.html" target="element"> Beheren personeelsinformatie </a> </td>
											    <td> <a href="../elements/id-95c6cecbdf5b4baba758bc41c312fe5d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-9c3d568954b94549bc6e6abccfa34817.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c3d568954b94549bc6e6abccfa34817.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8ec582efaae04d95a374e53b70a045fa.html" target="element"> Leveren van HR diensten </a> </td>
																		<td> <a href="../elements/id-0c7cd9b6321e4f5aa4d59fa13f040e0c.html" target="element"> Personeel- en organisatiebeheer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f59ea2d1f0494304a60d50573e8c701a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f59ea2d1f0494304a60d50573e8c701a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-95c6cecbdf5b4baba758bc41c312fe5d.html" target="element"> Beheren personeelsinformatie </a> </td>
																		<td> <a href="../elements/id-0c7cd9b6321e4f5aa4d59fa13f040e0c.html" target="element"> Personeel- en organisatiebeheer </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>