<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>02. Afnemen anamnese</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>02. Afnemen anamnese</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-40e0bcefef514b1d85d968c3d7ec2ca2.png" alt="02. Afnemen anamnese" usemap="#id-40e0bcefef514b1d85d968c3d7ec2ca2map"/>
			   <map name="id-40e0bcefef514b1d85d968c3d7ec2ca2map">
				          <area shape="rect" coords="484,378,597,429" href="../objects/id-dae38fae3cb04731a53cae663a0be47d.html" target="element" >
				  		<area shape="rect" coords="10,394,150,474" href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html"  target="element">
				  		<area shape="rect" coords="10,204,150,284" href="../elements/id-c030400444334ac2a19b52ce963f57a6.html"  target="element">
				  		<area shape="rect" coords="658,250,798,330" href="../elements/id-596de86a12fe4c7c8d6c5d1bc83219e2.html"  target="element">
				  		<area shape="rect" coords="658,154,798,234" href="../elements/id-7fd87fe654464dd9ac50db931547f655.html"  target="element">
				  		<area shape="rect" coords="10,298,150,378" href="../elements/id-70e69703e36146a5add2d857268d7434.html"  target="element">
				  		<area shape="rect" coords="10,106,150,186" href="../elements/id-81f2060b7b624479b15f0699345d4149.html"  target="element">
				  		<area shape="rect" coords="10,10,150,90" href="../elements/id-716c50b31c3649aab1503b7da64589f3.html"  target="element">
				  		<area shape="rect" coords="346,204,486,284" href="../elements/id-73a0222956b643dc95f6bc0da42266f3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Middels gerichte vragen verzamelen van informatie rond levensgewoonten, voorgeschiedenis, klachten en wensen; dit kan ook voorafgaande aan anamnese zijn aangeleverd middels bijvoorbeeld vragenlijsten of zelfmanagementinformatie, gesprekken met pati&#235;nt (c.q. regievoerder) en/of naastbetrokkenen, door ketenpartners, of het naslaan van de medische voorgeschiedenis.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-73a0222956b643dc95f6bc0da42266f3.html" target="element"> Afnemen anamnese </a> </td>
											    <td> <a href="../elements/id-73a0222956b643dc95f6bc0da42266f3.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-716c50b31c3649aab1503b7da64589f3.html" target="element"> Verwijsinformatie </a> </td>
											    <td> <a href="../elements/id-716c50b31c3649aab1503b7da64589f3.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element"> Zorgkennis </a> </td>
											    <td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element"> Pati&#235;nt (basis medische gegevens) </a> </td>
											    <td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7fd87fe654464dd9ac50db931547f655.html" target="element"> Anamnese </a> </td>
											    <td> <a href="../elements/id-7fd87fe654464dd9ac50db931547f655.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-596de86a12fe4c7c8d6c5d1bc83219e2.html" target="element"> Medicatie inventarisatie </a> </td>
											    <td> <a href="../elements/id-596de86a12fe4c7c8d6c5d1bc83219e2.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element"> Pati&#235;nt (administratieve gegevens) </a> </td>
											    <td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element"> Zorgverlener </a> </td>
											    <td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-dae38fae3cb04731a53cae663a0be47d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-dae38fae3cb04731a53cae663a0be47d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-7ff43901dc1a4aae93cb4de6c10e3393.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7ff43901dc1a4aae93cb4de6c10e3393.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73a0222956b643dc95f6bc0da42266f3.html" target="element"> Afnemen anamnese </a> </td>
																		<td> <a href="../elements/id-716c50b31c3649aab1503b7da64589f3.html" target="element"> Verwijsinformatie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bf6061b4f77b4dfcb825cb2438412b32.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bf6061b4f77b4dfcb825cb2438412b32.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73a0222956b643dc95f6bc0da42266f3.html" target="element"> Afnemen anamnese </a> </td>
																		<td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element"> Zorgkennis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c2577eb6091c45a3a10e413fc9967911.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2577eb6091c45a3a10e413fc9967911.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73a0222956b643dc95f6bc0da42266f3.html" target="element"> Afnemen anamnese </a> </td>
																		<td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element"> Pati&#235;nt (administratieve gegevens) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ba1411839a1b463db84a167ddd416300.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ba1411839a1b463db84a167ddd416300.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73a0222956b643dc95f6bc0da42266f3.html" target="element"> Afnemen anamnese </a> </td>
																		<td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element"> Pati&#235;nt (basis medische gegevens) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bd5101b8b99d4cb3a9b9a46b4d0145dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd5101b8b99d4cb3a9b9a46b4d0145dc.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73a0222956b643dc95f6bc0da42266f3.html" target="element"> Afnemen anamnese </a> </td>
																		<td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element"> Zorgverlener </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bcad4f4de0ca4d1fb588c6382e292626.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bcad4f4de0ca4d1fb588c6382e292626.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73a0222956b643dc95f6bc0da42266f3.html" target="element"> Afnemen anamnese </a> </td>
																		<td> <a href="../elements/id-7fd87fe654464dd9ac50db931547f655.html" target="element"> Anamnese </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4b6800388a59448e8cb1edc27a5450c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b6800388a59448e8cb1edc27a5450c4.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73a0222956b643dc95f6bc0da42266f3.html" target="element"> Afnemen anamnese </a> </td>
																		<td> <a href="../elements/id-596de86a12fe4c7c8d6c5d1bc83219e2.html" target="element"> Medicatie inventarisatie </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>