<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>06. Periodiek evalueren behandeling</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>06. Periodiek evalueren behandeling</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-4debfa7bcc7e4570812902a7e70649bb.png" alt="06. Periodiek evalueren behandeling" usemap="#id-4debfa7bcc7e4570812902a7e70649bbmap"/>
			   <map name="id-4debfa7bcc7e4570812902a7e70649bbmap">
				  		<area shape="rect" coords="10,10,150,90" href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html"  target="element">
				  		<area shape="rect" coords="321,10,461,90" href="../elements/id-c030400444334ac2a19b52ce963f57a6.html"  target="element">
				  		<area shape="rect" coords="321,574,461,654" href="../elements/id-730829c88a1546c79ee378365a20d678.html"  target="element">
				  		<area shape="rect" coords="165,574,305,654" href="../elements/id-efdc30b967d647a7b32b4de9106d2c75.html"  target="element">
				  		<area shape="rect" coords="10,574,150,654" href="../elements/id-596de86a12fe4c7c8d6c5d1bc83219e2.html"  target="element">
				  		<area shape="rect" coords="10,478,150,558" href="../elements/id-55c33dc524984f6dbd2fd7568772f088.html"  target="element">
				  		<area shape="rect" coords="706,154,846,234" href="../elements/id-6d63fb7fd8e3493c82a20c5fd3550da2.html"  target="element">
				  		<area shape="rect" coords="706,437,846,517" href="../elements/id-7a76e74241794a88b8915aa248908167.html"  target="element">
				  		<area shape="rect" coords="706,346,846,426" href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html"  target="element">
				  		<area shape="rect" coords="10,382,150,462" href="../elements/id-7fd87fe654464dd9ac50db931547f655.html"  target="element">
				  		<area shape="rect" coords="706,250,846,330" href="../elements/id-8b4aa17d6721445da9a77a7907ad4805.html"  target="element">
				  		<area shape="rect" coords="10,293,150,373" href="../elements/id-815aff8ba21049af85942cc65385f0a4.html"  target="element">
				  		<area shape="rect" coords="10,202,150,282" href="../elements/id-70bc4047046a415da70e1d9c590943d6.html"  target="element">
				  		<area shape="rect" coords="165,10,305,90" href="../elements/id-70e69703e36146a5add2d857268d7434.html"  target="element">
				  		<area shape="rect" coords="10,106,150,186" href="../elements/id-81f2060b7b624479b15f0699345d4149.html"  target="element">
				          <area shape="rect" coords="514,492,627,543" href="../objects/id-4df444e0a7a94f34ac5deb214003a3cf.html" target="element" >
				  		<area shape="rect" coords="370,293,510,373" href="../elements/id-3fa07c4c37cb4c5c9a7ac7c9396351aa.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Periodiek beoordelen van effecten en resultaat van een behandeling en eventueel aanpassen van het behandelplan. Dit is mede als voorbereiding van multidisciplinaire bespreking van de pati&#235;nt (minimaal 2 keer per jaar).</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-3fa07c4c37cb4c5c9a7ac7c9396351aa.html" target="element"> Periodiek evalueren behandeling </a> </td>
											    <td> <a href="../elements/id-3fa07c4c37cb4c5c9a7ac7c9396351aa.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-4df444e0a7a94f34ac5deb214003a3cf.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4df444e0a7a94f34ac5deb214003a3cf.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element"> Zorgkennis </a> </td>
											    <td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element"> Pati&#235;nt (basis medische gegevens) </a> </td>
											    <td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70bc4047046a415da70e1d9c590943d6.html" target="element"> Zorgvraag </a> </td>
											    <td> <a href="../elements/id-70bc4047046a415da70e1d9c590943d6.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-815aff8ba21049af85942cc65385f0a4.html" target="element"> Collegiaal consult </a> </td>
											    <td> <a href="../elements/id-815aff8ba21049af85942cc65385f0a4.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8b4aa17d6721445da9a77a7907ad4805.html" target="element"> Decursus </a> </td>
											    <td> <a href="../elements/id-8b4aa17d6721445da9a77a7907ad4805.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7fd87fe654464dd9ac50db931547f655.html" target="element"> Anamnese </a> </td>
											    <td> <a href="../elements/id-7fd87fe654464dd9ac50db931547f655.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html" target="element"> Diagnose </a> </td>
											    <td> <a href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7a76e74241794a88b8915aa248908167.html" target="element"> Toegekend zorgpad </a> </td>
											    <td> <a href="../elements/id-7a76e74241794a88b8915aa248908167.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6d63fb7fd8e3493c82a20c5fd3550da2.html" target="element"> Behandelplan </a> </td>
											    <td> <a href="../elements/id-6d63fb7fd8e3493c82a20c5fd3550da2.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-55c33dc524984f6dbd2fd7568772f088.html" target="element"> Medicatievoorschrift </a> </td>
											    <td> <a href="../elements/id-55c33dc524984f6dbd2fd7568772f088.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-596de86a12fe4c7c8d6c5d1bc83219e2.html" target="element"> Medicatie inventarisatie </a> </td>
											    <td> <a href="../elements/id-596de86a12fe4c7c8d6c5d1bc83219e2.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-efdc30b967d647a7b32b4de9106d2c75.html" target="element"> Uitslag onderzoek </a> </td>
											    <td> <a href="../elements/id-efdc30b967d647a7b32b4de9106d2c75.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-730829c88a1546c79ee378365a20d678.html" target="element"> Onderzoeksverslag </a> </td>
											    <td> <a href="../elements/id-730829c88a1546c79ee378365a20d678.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element"> Pati&#235;nt (administratieve gegevens) </a> </td>
											    <td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element"> Zorgverlener </a> </td>
											    <td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-2e519cd855b24829bc8bc45bc1cf87c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e519cd855b24829bc8bc45bc1cf87c4.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fa07c4c37cb4c5c9a7ac7c9396351aa.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element"> Pati&#235;nt (administratieve gegevens) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7a46563eea88405ca531205d0c8b572d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7a46563eea88405ca531205d0c8b572d.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fa07c4c37cb4c5c9a7ac7c9396351aa.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element"> Pati&#235;nt (basis medische gegevens) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9c7ca2b4a16948758b9e17a052a7453b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c7ca2b4a16948758b9e17a052a7453b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fa07c4c37cb4c5c9a7ac7c9396351aa.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element"> Zorgverlener </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-20f4547393624eb19f4d031fdc24a62f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-20f4547393624eb19f4d031fdc24a62f.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fa07c4c37cb4c5c9a7ac7c9396351aa.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element"> Zorgkennis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-99c9108207ef46f2a46b7a2f4c85ba24.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-99c9108207ef46f2a46b7a2f4c85ba24.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fa07c4c37cb4c5c9a7ac7c9396351aa.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-70bc4047046a415da70e1d9c590943d6.html" target="element"> Zorgvraag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5a22f6db5c764464a08c07d683476d13.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a22f6db5c764464a08c07d683476d13.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fa07c4c37cb4c5c9a7ac7c9396351aa.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-815aff8ba21049af85942cc65385f0a4.html" target="element"> Collegiaal consult </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-20d9ca53bae6417dbd07100afadaabe3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-20d9ca53bae6417dbd07100afadaabe3.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fa07c4c37cb4c5c9a7ac7c9396351aa.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-7fd87fe654464dd9ac50db931547f655.html" target="element"> Anamnese </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-796a601d7c67436bb93814755fce2330.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-796a601d7c67436bb93814755fce2330.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fa07c4c37cb4c5c9a7ac7c9396351aa.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-55c33dc524984f6dbd2fd7568772f088.html" target="element"> Medicatievoorschrift </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-57f717f701ca4529b41f2acd6062821b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-57f717f701ca4529b41f2acd6062821b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fa07c4c37cb4c5c9a7ac7c9396351aa.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-596de86a12fe4c7c8d6c5d1bc83219e2.html" target="element"> Medicatie inventarisatie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f0ddb2fc995e4a7f8a34b5ff3e1cf2d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f0ddb2fc995e4a7f8a34b5ff3e1cf2d4.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fa07c4c37cb4c5c9a7ac7c9396351aa.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-efdc30b967d647a7b32b4de9106d2c75.html" target="element"> Uitslag onderzoek </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bc3fe28eddc14cd2b6357bb5aeca3817.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc3fe28eddc14cd2b6357bb5aeca3817.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fa07c4c37cb4c5c9a7ac7c9396351aa.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-730829c88a1546c79ee378365a20d678.html" target="element"> Onderzoeksverslag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0a3f0e36544c470182e387cc3cacf2c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a3f0e36544c470182e387cc3cacf2c1.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fa07c4c37cb4c5c9a7ac7c9396351aa.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-6d63fb7fd8e3493c82a20c5fd3550da2.html" target="element"> Behandelplan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4d00b4a01b9f4c6ea1cc096e2b510b06.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4d00b4a01b9f4c6ea1cc096e2b510b06.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fa07c4c37cb4c5c9a7ac7c9396351aa.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-8b4aa17d6721445da9a77a7907ad4805.html" target="element"> Decursus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7b0768a861cf42bb92655e7473114047.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7b0768a861cf42bb92655e7473114047.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fa07c4c37cb4c5c9a7ac7c9396351aa.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html" target="element"> Diagnose </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3eab9e14c5774ca297d461bb1c365435.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3eab9e14c5774ca297d461bb1c365435.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fa07c4c37cb4c5c9a7ac7c9396351aa.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-7a76e74241794a88b8915aa248908167.html" target="element"> Toegekend zorgpad </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>