<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>02. Resourceplanning</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>02. Resourceplanning</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-service_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_service_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-516e88d1bb88486faf90f108b42d82c7.png" alt="02. Resourceplanning" usemap="#id-516e88d1bb88486faf90f108b42d82c7map"/>
			   <map name="id-516e88d1bb88486faf90f108b42d82c7map">
				  		<area shape="rect" coords="473,144,613,224" href="../elements/id-2342a05761544bf49db8e9166f8d88ef.html"  target="element">
				  		<area shape="rect" coords="317,144,457,224" href="../elements/id-4a788dcdd0824c75ab270b2299ae615d.html"  target="element">
				  		<area shape="rect" coords="161,144,301,224" href="../elements/id-86bafef276614a1197e82807698407f3.html"  target="element">
				  		<area shape="rect" coords="10,144,150,224" href="../elements/id-657c4695adc64429a667629e3261697b.html"  target="element">
				  		<area shape="rect" coords="10,10,613,90" href="../elements/id-a82371d1c3ab49ec82ed4241ab326cd8.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Resourceplanning bevat de activiteiten op het gebied van het plannen van de inzet van personeel en locaties.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a82371d1c3ab49ec82ed4241ab326cd8.html" target="element"> Resourceplanning </a> </td>
											    <td> <a href="../elements/id-a82371d1c3ab49ec82ed4241ab326cd8.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-657c4695adc64429a667629e3261697b.html" target="element"> Opstellen en onderhouden productieplanning </a> </td>
											    <td> <a href="../elements/id-657c4695adc64429a667629e3261697b.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-86bafef276614a1197e82807698407f3.html" target="element"> Plannen personen </a> </td>
											    <td> <a href="../elements/id-86bafef276614a1197e82807698407f3.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4a788dcdd0824c75ab270b2299ae615d.html" target="element"> Plannen middelen </a> </td>
											    <td> <a href="../elements/id-4a788dcdd0824c75ab270b2299ae615d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2342a05761544bf49db8e9166f8d88ef.html" target="element"> Plannen locatie </a> </td>
											    <td> <a href="../elements/id-2342a05761544bf49db8e9166f8d88ef.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-4291cc0c3b2e4999a78e751376e13f29.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4291cc0c3b2e4999a78e751376e13f29.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-657c4695adc64429a667629e3261697b.html" target="element"> Opstellen en onderhouden productieplanning </a> </td>
																		<td> <a href="../elements/id-a82371d1c3ab49ec82ed4241ab326cd8.html" target="element"> Resourceplanning </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-64d38c8a2525482abc2c63927ba36cee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-64d38c8a2525482abc2c63927ba36cee.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-86bafef276614a1197e82807698407f3.html" target="element"> Plannen personen </a> </td>
																		<td> <a href="../elements/id-a82371d1c3ab49ec82ed4241ab326cd8.html" target="element"> Resourceplanning </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-df07b3e3e34c44caa96e8f555fe7fa41.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-df07b3e3e34c44caa96e8f555fe7fa41.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4a788dcdd0824c75ab270b2299ae615d.html" target="element"> Plannen middelen </a> </td>
																		<td> <a href="../elements/id-a82371d1c3ab49ec82ed4241ab326cd8.html" target="element"> Resourceplanning </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6553c075ba094cd9b57799f1641022c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6553c075ba094cd9b57799f1641022c7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2342a05761544bf49db8e9166f8d88ef.html" target="element"> Plannen locatie </a> </td>
																		<td> <a href="../elements/id-a82371d1c3ab49ec82ed4241ab326cd8.html" target="element"> Resourceplanning </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>