<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>03. Behandeling</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>03. Behandeling</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-service_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_service_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-507f26541d39418588e609863be4b34e.png" alt="03. Behandeling" usemap="#id-507f26541d39418588e609863be4b34emap"/>
			   <map name="id-507f26541d39418588e609863be4b34emap">
				  		<area shape="rect" coords="590,262,730,342" href="../elements/id-9db76e36dc58431b857cd7e12a061c02.html"  target="element">
				  		<area shape="rect" coords="434,262,574,342" href="../elements/id-43866af254d5408e8f80b60fd4c9b3c3.html"  target="element">
				  		<area shape="rect" coords="278,262,418,342" href="../elements/id-a98c6194e2a446c98dcaa5534f0eb9d0.html"  target="element">
				  		<area shape="rect" coords="124,262,264,342" href="../elements/id-86a3d4c4182d44f395f602400bb43653.html"  target="element">
				          <area shape="rect" coords="10,262,90,342" href="../objects/id-083ce644120b4c4b93bf6aaafa507cb3.html" target="element" >
				          <area shape="rect" coords="10,130,90,210" href="../objects/id-3686b17dd8754c0194e7989742205c0a.html" target="element" >
				          <area shape="rect" coords="10,10,90,90" href="../objects/id-af427dcee9484c7f9eafb6e3090484f5.html" target="element" >
				  		<area shape="rect" coords="902,130,1042,210" href="../elements/id-3fa07c4c37cb4c5c9a7ac7c9396351aa.html"  target="element">
				  		<area shape="rect" coords="746,130,886,210" href="../elements/id-c38cc3c0a32b41acb83d3c57e44a2f19.html"  target="element">
				  		<area shape="rect" coords="590,130,730,210" href="../elements/id-10c001b0600147c6b8ef3b1d4b10e4ee.html"  target="element">
				  		<area shape="rect" coords="434,130,574,210" href="../elements/id-298272bd21ca4483a60d2320a35a2bc4.html"  target="element">
				  		<area shape="rect" coords="278,130,418,210" href="../elements/id-b5666e49224543e0b4e0700405b7df16.html"  target="element">
				  		<area shape="rect" coords="124,130,264,210" href="../elements/id-1c5450e984ae4f42a4edfebb0d303bd8.html"  target="element">
				  		<area shape="rect" coords="124,10,1042,90" href="../elements/id-fe1c6bdd27724946a108ed993e5e2025.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Behandeling bevat de activiteiten op het gebied van het uitvoeren, meten en bijstellen van de behandeling(en) en begeleiding van de pati&#235;nt daarbij.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-fe1c6bdd27724946a108ed993e5e2025.html" target="element"> Behandeling </a> </td>
											    <td> <a href="../elements/id-fe1c6bdd27724946a108ed993e5e2025.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1c5450e984ae4f42a4edfebb0d303bd8.html" target="element"> Uitvoeren behandeling </a> </td>
											    <td> <a href="../elements/id-1c5450e984ae4f42a4edfebb0d303bd8.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b5666e49224543e0b4e0700405b7df16.html" target="element"> Uitvoeren begeleiding </a> </td>
											    <td> <a href="../elements/id-b5666e49224543e0b4e0700405b7df16.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-298272bd21ca4483a60d2320a35a2bc4.html" target="element"> Uitvoeren bemoeizorg </a> </td>
											    <td> <a href="../elements/id-298272bd21ca4483a60d2320a35a2bc4.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-10c001b0600147c6b8ef3b1d4b10e4ee.html" target="element"> Meten van behandeleffectiviteit </a> </td>
											    <td> <a href="../elements/id-10c001b0600147c6b8ef3b1d4b10e4ee.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c38cc3c0a32b41acb83d3c57e44a2f19.html" target="element"> Bijstellen zorg </a> </td>
											    <td> <a href="../elements/id-c38cc3c0a32b41acb83d3c57e44a2f19.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3fa07c4c37cb4c5c9a7ac7c9396351aa.html" target="element"> Periodiek evalueren behandeling </a> </td>
											    <td> <a href="../elements/id-3fa07c4c37cb4c5c9a7ac7c9396351aa.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-af427dcee9484c7f9eafb6e3090484f5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-af427dcee9484c7f9eafb6e3090484f5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-3686b17dd8754c0194e7989742205c0a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3686b17dd8754c0194e7989742205c0a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-083ce644120b4c4b93bf6aaafa507cb3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-083ce644120b4c4b93bf6aaafa507cb3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-86a3d4c4182d44f395f602400bb43653.html" target="element"> Behandeling </a> </td>
											    <td> <a href="../elements/id-86a3d4c4182d44f395f602400bb43653.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a98c6194e2a446c98dcaa5534f0eb9d0.html" target="element"> Signaal ihkv zorg </a> </td>
											    <td> <a href="../elements/id-a98c6194e2a446c98dcaa5534f0eb9d0.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-43866af254d5408e8f80b60fd4c9b3c3.html" target="element"> Complicatie </a> </td>
											    <td> <a href="../elements/id-43866af254d5408e8f80b60fd4c9b3c3.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9db76e36dc58431b857cd7e12a061c02.html" target="element"> ROM-meting </a> </td>
											    <td> <a href="../elements/id-9db76e36dc58431b857cd7e12a061c02.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-3ea3c62340824b7c8a4bb84b62223cec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3ea3c62340824b7c8a4bb84b62223cec.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5450e984ae4f42a4edfebb0d303bd8.html" target="element"> Uitvoeren behandeling </a> </td>
																		<td> <a href="../elements/id-fe1c6bdd27724946a108ed993e5e2025.html" target="element"> Behandeling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-27885476a03e4ac2b59e2b2b072cfb7a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-27885476a03e4ac2b59e2b2b072cfb7a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b5666e49224543e0b4e0700405b7df16.html" target="element"> Uitvoeren begeleiding </a> </td>
																		<td> <a href="../elements/id-fe1c6bdd27724946a108ed993e5e2025.html" target="element"> Behandeling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5cd589fb5d06458d882ec00073303e05.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5cd589fb5d06458d882ec00073303e05.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-298272bd21ca4483a60d2320a35a2bc4.html" target="element"> Uitvoeren bemoeizorg </a> </td>
																		<td> <a href="../elements/id-fe1c6bdd27724946a108ed993e5e2025.html" target="element"> Behandeling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6a0fc568771d47a5b2b7ce235e13f7ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a0fc568771d47a5b2b7ce235e13f7ee.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-10c001b0600147c6b8ef3b1d4b10e4ee.html" target="element"> Meten van behandeleffectiviteit </a> </td>
																		<td> <a href="../elements/id-fe1c6bdd27724946a108ed993e5e2025.html" target="element"> Behandeling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b0e1f6b2bc4041dd8d414aacc19c7f57.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0e1f6b2bc4041dd8d414aacc19c7f57.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c38cc3c0a32b41acb83d3c57e44a2f19.html" target="element"> Bijstellen zorg </a> </td>
																		<td> <a href="../elements/id-fe1c6bdd27724946a108ed993e5e2025.html" target="element"> Behandeling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-67703e7d038c4210aa706b9c60bb0b32.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-67703e7d038c4210aa706b9c60bb0b32.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fa07c4c37cb4c5c9a7ac7c9396351aa.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-fe1c6bdd27724946a108ed993e5e2025.html" target="element"> Behandeling </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>