<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>04. Juridische ondersteuning</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>04. Juridische ondersteuning</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-service_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_service_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5d0d42134f0a46bbaf542c7c04542059.png" alt="04. Juridische ondersteuning" usemap="#id-5d0d42134f0a46bbaf542c7c04542059map"/>
			   <map name="id-5d0d42134f0a46bbaf542c7c04542059map">
				  		<area shape="rect" coords="446,262,586,342" href="../elements/id-207bdc8e877742fbb3666718242ab484.html"  target="element">
				  		<area shape="rect" coords="136,262,276,342" href="../elements/id-5c0d10d01cf9472cb7236c217e1fbc5c.html"  target="element">
				  		<area shape="rect" coords="290,262,430,342" href="../elements/id-e2658830190b40168f50bd5bdc6d6cc7.html"  target="element">
				          <area shape="rect" coords="10,262,90,342" href="../objects/id-5841df3a389c431ab506ae563910df32.html" target="element" >
				          <area shape="rect" coords="10,130,90,210" href="../objects/id-2e800fa609454ef185f7e2d819fffbf0.html" target="element" >
				          <area shape="rect" coords="10,10,90,90" href="../objects/id-4f88c477319d4f34b65b8ddb4fae7ad2.html" target="element" >
				  		<area shape="rect" coords="446,130,586,210" href="../elements/id-ba3940e2b87442bbb14f6c33a14bec66.html"  target="element">
				  		<area shape="rect" coords="290,130,430,210" href="../elements/id-25cb2fdc0e6d490089298c47e0ad6c00.html"  target="element">
				  		<area shape="rect" coords="136,130,276,210" href="../elements/id-1501005d046d4da581dc5faff5aa223a.html"  target="element">
				  		<area shape="rect" coords="136,10,586,90" href="../elements/id-b73b22974c4d48928d7d8d2c9660d031.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Juridische ondersteuning bevat de activiteiten ten behoeve van juridisch advies, ondersteuning en beleid. </div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-b73b22974c4d48928d7d8d2c9660d031.html" target="element"> Juridische ondersteuning </a> </td>
											    <td> <a href="../elements/id-b73b22974c4d48928d7d8d2c9660d031.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1501005d046d4da581dc5faff5aa223a.html" target="element"> Juridisch adviseren </a> </td>
											    <td> <a href="../elements/id-1501005d046d4da581dc5faff5aa223a.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-25cb2fdc0e6d490089298c47e0ad6c00.html" target="element"> Opstellen en toetsen juridisch beleid </a> </td>
											    <td> <a href="../elements/id-25cb2fdc0e6d490089298c47e0ad6c00.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ba3940e2b87442bbb14f6c33a14bec66.html" target="element"> Initi&#235;ren van pati&#235;ntgerelateerde juridische maatregelen </a> </td>
											    <td> <a href="../elements/id-ba3940e2b87442bbb14f6c33a14bec66.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-4f88c477319d4f34b65b8ddb4fae7ad2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4f88c477319d4f34b65b8ddb4fae7ad2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-2e800fa609454ef185f7e2d819fffbf0.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2e800fa609454ef185f7e2d819fffbf0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-5841df3a389c431ab506ae563910df32.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5841df3a389c431ab506ae563910df32.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-e2658830190b40168f50bd5bdc6d6cc7.html" target="element"> Privacyrichtlijnen </a> </td>
											    <td> <a href="../elements/id-e2658830190b40168f50bd5bdc6d6cc7.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5c0d10d01cf9472cb7236c217e1fbc5c.html" target="element"> Juridisch advies </a> </td>
											    <td> <a href="../elements/id-5c0d10d01cf9472cb7236c217e1fbc5c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-207bdc8e877742fbb3666718242ab484.html" target="element"> Juridische maatregel </a> </td>
											    <td> <a href="../elements/id-207bdc8e877742fbb3666718242ab484.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-facd994c80c64b138d2060726cc827b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-facd994c80c64b138d2060726cc827b0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1501005d046d4da581dc5faff5aa223a.html" target="element"> Juridisch adviseren </a> </td>
																		<td> <a href="../elements/id-b73b22974c4d48928d7d8d2c9660d031.html" target="element"> Juridische ondersteuning </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1481e53747bd4727ab25a27ff2c65351.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1481e53747bd4727ab25a27ff2c65351.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-25cb2fdc0e6d490089298c47e0ad6c00.html" target="element"> Opstellen en toetsen juridisch beleid </a> </td>
																		<td> <a href="../elements/id-b73b22974c4d48928d7d8d2c9660d031.html" target="element"> Juridische ondersteuning </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0f3ac32046be42d79201ab6a29c2eb48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0f3ac32046be42d79201ab6a29c2eb48.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba3940e2b87442bbb14f6c33a14bec66.html" target="element"> Initi&#235;ren van pati&#235;ntgerelateerde juridische maatregelen </a> </td>
																		<td> <a href="../elements/id-b73b22974c4d48928d7d8d2c9660d031.html" target="element"> Juridische ondersteuning </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>