<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>01. Uitvoeren behandeling</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>01. Uitvoeren behandeling</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-6e82cce6590143c5a5214293d4b35e67.png" alt="01. Uitvoeren behandeling" usemap="#id-6e82cce6590143c5a5214293d4b35e67map"/>
			   <map name="id-6e82cce6590143c5a5214293d4b35e67map">
				          <area shape="rect" coords="430,327,543,378" href="../objects/id-9c19493e57db4f48a242df917626df75.html" target="element" >
				  		<area shape="rect" coords="658,292,798,372" href="../elements/id-43866af254d5408e8f80b60fd4c9b3c3.html"  target="element">
				  		<area shape="rect" coords="658,196,798,276" href="../elements/id-a98c6194e2a446c98dcaa5534f0eb9d0.html"  target="element">
				  		<area shape="rect" coords="658,106,798,186" href="../elements/id-86a3d4c4182d44f395f602400bb43653.html"  target="element">
				  		<area shape="rect" coords="10,298,150,378" href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html"  target="element">
				  		<area shape="rect" coords="10,202,150,282" href="../elements/id-c030400444334ac2a19b52ce963f57a6.html"  target="element">
				  		<area shape="rect" coords="10,394,150,474" href="../elements/id-6d63fb7fd8e3493c82a20c5fd3550da2.html"  target="element">
				  		<area shape="rect" coords="10,106,150,186" href="../elements/id-70e69703e36146a5add2d857268d7434.html"  target="element">
				  		<area shape="rect" coords="10,10,150,90" href="../elements/id-81f2060b7b624479b15f0699345d4149.html"  target="element">
				  		<area shape="rect" coords="358,202,498,282" href="../elements/id-1c5450e984ae4f42a4edfebb0d303bd8.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Het uitvoeren van de behandeling van een pati&#235;nt op basis van een behandelplan, gericht op herstel, voorkoming van verergering van een aandoening of de verlichting van symptomen. Het toepassen van zowel middelen en maatregelen als somatische zorg gerelateerd aan verblijf valt ook binnen deze bedrijfsactiviteit.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-1c5450e984ae4f42a4edfebb0d303bd8.html" target="element"> Uitvoeren behandeling </a> </td>
											    <td> <a href="../elements/id-1c5450e984ae4f42a4edfebb0d303bd8.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element"> Zorgkennis </a> </td>
											    <td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element"> Pati&#235;nt (basis medische gegevens) </a> </td>
											    <td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6d63fb7fd8e3493c82a20c5fd3550da2.html" target="element"> Behandelplan </a> </td>
											    <td> <a href="../elements/id-6d63fb7fd8e3493c82a20c5fd3550da2.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element"> Pati&#235;nt (administratieve gegevens) </a> </td>
											    <td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element"> Zorgverlener </a> </td>
											    <td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-86a3d4c4182d44f395f602400bb43653.html" target="element"> Behandeling </a> </td>
											    <td> <a href="../elements/id-86a3d4c4182d44f395f602400bb43653.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a98c6194e2a446c98dcaa5534f0eb9d0.html" target="element"> Signaal ihkv zorg </a> </td>
											    <td> <a href="../elements/id-a98c6194e2a446c98dcaa5534f0eb9d0.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-43866af254d5408e8f80b60fd4c9b3c3.html" target="element"> Complicatie </a> </td>
											    <td> <a href="../elements/id-43866af254d5408e8f80b60fd4c9b3c3.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-9c19493e57db4f48a242df917626df75.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9c19493e57db4f48a242df917626df75.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-6c4328b8fc364f5fbc5691e1ce96e10d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6c4328b8fc364f5fbc5691e1ce96e10d.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5450e984ae4f42a4edfebb0d303bd8.html" target="element"> Uitvoeren behandeling </a> </td>
																		<td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element"> Zorgkennis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ef3a6fef45df463d8cae0c6cb9424894.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef3a6fef45df463d8cae0c6cb9424894.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5450e984ae4f42a4edfebb0d303bd8.html" target="element"> Uitvoeren behandeling </a> </td>
																		<td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element"> Pati&#235;nt (basis medische gegevens) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2a323f2d56904e75afeced03d2703bac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2a323f2d56904e75afeced03d2703bac.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5450e984ae4f42a4edfebb0d303bd8.html" target="element"> Uitvoeren behandeling </a> </td>
																		<td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element"> Pati&#235;nt (administratieve gegevens) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-028e4d39228d4ca39b051085e448011b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-028e4d39228d4ca39b051085e448011b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5450e984ae4f42a4edfebb0d303bd8.html" target="element"> Uitvoeren behandeling </a> </td>
																		<td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element"> Zorgverlener </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fd95aa9eb5d9444a89c1d8ea9258fedc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fd95aa9eb5d9444a89c1d8ea9258fedc.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5450e984ae4f42a4edfebb0d303bd8.html" target="element"> Uitvoeren behandeling </a> </td>
																		<td> <a href="../elements/id-6d63fb7fd8e3493c82a20c5fd3550da2.html" target="element"> Behandelplan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0382aa30d9314bbc9bbad16f5eac2a9e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0382aa30d9314bbc9bbad16f5eac2a9e.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5450e984ae4f42a4edfebb0d303bd8.html" target="element"> Uitvoeren behandeling </a> </td>
																		<td> <a href="../elements/id-86a3d4c4182d44f395f602400bb43653.html" target="element"> Behandeling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6cd9cfd4caf442518a7de351d71c80e9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6cd9cfd4caf442518a7de351d71c80e9.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5450e984ae4f42a4edfebb0d303bd8.html" target="element"> Uitvoeren behandeling </a> </td>
																		<td> <a href="../elements/id-a98c6194e2a446c98dcaa5534f0eb9d0.html" target="element"> Signaal ihkv zorg </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-17b25fb8835e4a59939d04383eb7a027.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-17b25fb8835e4a59939d04383eb7a027.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5450e984ae4f42a4edfebb0d303bd8.html" target="element"> Uitvoeren behandeling </a> </td>
																		<td> <a href="../elements/id-43866af254d5408e8f80b60fd4c9b3c3.html" target="element"> Complicatie </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>