<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>06. Onderwijs</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>06. Onderwijs</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-service_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_service_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-68ec4478d8554ed6af6d5423993de230.png" alt="06. Onderwijs" usemap="#id-68ec4478d8554ed6af6d5423993de230map"/>
			   <map name="id-68ec4478d8554ed6af6d5423993de230map">
				  		<area shape="rect" coords="754,262,894,342" href="../elements/id-e4067d5eaa024f9eb3855453038d9549.html"  target="element">
				  		<area shape="rect" coords="598,262,738,342" href="../elements/id-b3c853ea9d4e41f98f8a902e2915d6cb.html"  target="element">
				  		<area shape="rect" coords="442,262,582,342" href="../elements/id-4672b90f7f514499a22deeb395dd3dbc.html"  target="element">
				  		<area shape="rect" coords="286,262,426,342" href="../elements/id-8cca57e29f4d4173ac082c747ac457c0.html"  target="element">
				  		<area shape="rect" coords="130,262,270,342" href="../elements/id-ebd99970c5494e40985a88059dc7cbd5.html"  target="element">
				          <area shape="rect" coords="10,262,90,342" href="../objects/id-1cd2355e0b6146adba3306f4e76f006e.html" target="element" >
				          <area shape="rect" coords="10,130,90,210" href="../objects/id-52d31013d6f641e68d4f6fa96603a6cb.html" target="element" >
				          <area shape="rect" coords="10,10,90,90" href="../objects/id-fb28dac2f5374be9bccb2a9684c6016f.html" target="element" >
				  		<area shape="rect" coords="130,130,270,210" href="../elements/id-50e9b3d922e34f5b9fc3c4402ee78e03.html"  target="element">
				  		<area shape="rect" coords="130,10,270,90" href="../elements/id-73bc379bcf7045aabf4827ac6abbb9d2.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Onderwijs bevat de activiteiten die gericht zijn op het aanbieden van onderwijs.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-73bc379bcf7045aabf4827ac6abbb9d2.html" target="element"> Onderwijs </a> </td>
											    <td> <a href="../elements/id-73bc379bcf7045aabf4827ac6abbb9d2.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-50e9b3d922e34f5b9fc3c4402ee78e03.html" target="element"> Aanbieden onderwijs </a> </td>
											    <td> <a href="../elements/id-50e9b3d922e34f5b9fc3c4402ee78e03.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-fb28dac2f5374be9bccb2a9684c6016f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fb28dac2f5374be9bccb2a9684c6016f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-52d31013d6f641e68d4f6fa96603a6cb.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-52d31013d6f641e68d4f6fa96603a6cb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-1cd2355e0b6146adba3306f4e76f006e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1cd2355e0b6146adba3306f4e76f006e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-ebd99970c5494e40985a88059dc7cbd5.html" target="element"> Onderwijsprogramma </a> </td>
											    <td> <a href="../elements/id-ebd99970c5494e40985a88059dc7cbd5.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8cca57e29f4d4173ac082c747ac457c0.html" target="element"> Onderwijsdeelnemer </a> </td>
											    <td> <a href="../elements/id-8cca57e29f4d4173ac082c747ac457c0.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4672b90f7f514499a22deeb395dd3dbc.html" target="element"> Onderwijskwalificatie </a> </td>
											    <td> <a href="../elements/id-4672b90f7f514499a22deeb395dd3dbc.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b3c853ea9d4e41f98f8a902e2915d6cb.html" target="element"> Gegevens relatie onderwijs en zorgproces </a> </td>
											    <td> <a href="../elements/id-b3c853ea9d4e41f98f8a902e2915d6cb.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e4067d5eaa024f9eb3855453038d9549.html" target="element"> Logistieke gegevens onderwijs </a> </td>
											    <td> <a href="../elements/id-e4067d5eaa024f9eb3855453038d9549.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-e3dcc45bf13f4201aec8646c0d42a1b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e3dcc45bf13f4201aec8646c0d42a1b6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-50e9b3d922e34f5b9fc3c4402ee78e03.html" target="element"> Aanbieden onderwijs </a> </td>
																		<td> <a href="../elements/id-73bc379bcf7045aabf4827ac6abbb9d2.html" target="element"> Onderwijs </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>