<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>01. Gebouwenbeheer</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>01. Gebouwenbeheer</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-service_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_service_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-6e1f693f00de4e2ea96ac149e1aa0f05.png" alt="01. Gebouwenbeheer" usemap="#id-6e1f693f00de4e2ea96ac149e1aa0f05map"/>
			   <map name="id-6e1f693f00de4e2ea96ac149e1aa0f05map">
				          <area shape="rect" coords="10,262,90,342" href="../objects/id-a5fcb365e8e8419e81549f0d3e80ccf7.html" target="element" >
				          <area shape="rect" coords="10,130,90,210" href="../objects/id-109c2a3f1ffd4aaa9c77cffe6a1dccfe.html" target="element" >
				          <area shape="rect" coords="10,10,90,90" href="../objects/id-d75f9c620f4c48e0827b4c8c76de95d5.html" target="element" >
				  		<area shape="rect" coords="452,130,592,210" href="../elements/id-842a0292ec1c4394b00759486d18ece0.html"  target="element">
				  		<area shape="rect" coords="296,130,436,210" href="../elements/id-c5a56a253eba4a92a604df696bd5461d.html"  target="element">
				  		<area shape="rect" coords="142,130,282,210" href="../elements/id-bd942826127b46e2bd9c88ab4aeeeaa1.html"  target="element">
				  		<area shape="rect" coords="142,10,592,90" href="../elements/id-c605b1fdd2a04dee98b1962c39c3630b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Gebouwenbeheer bevat de activiteiten met betrekking tot het beheren en exploiteren van gebouwen.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-c605b1fdd2a04dee98b1962c39c3630b.html" target="element"> Gebouwenbeheer </a> </td>
											    <td> <a href="../elements/id-c605b1fdd2a04dee98b1962c39c3630b.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bd942826127b46e2bd9c88ab4aeeeaa1.html" target="element"> Co&#246;rdineren beheer en onderhoud van gebouw(en) </a> </td>
											    <td> <a href="../elements/id-bd942826127b46e2bd9c88ab4aeeeaa1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c5a56a253eba4a92a604df696bd5461d.html" target="element"> Exploiteren van gebouw(en) </a> </td>
											    <td> <a href="../elements/id-c5a56a253eba4a92a604df696bd5461d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-842a0292ec1c4394b00759486d18ece0.html" target="element"> Adviseren nieuwbouw, verbouw en renovatie van gebouw(en) </a> </td>
											    <td> <a href="../elements/id-842a0292ec1c4394b00759486d18ece0.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-d75f9c620f4c48e0827b4c8c76de95d5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d75f9c620f4c48e0827b4c8c76de95d5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-109c2a3f1ffd4aaa9c77cffe6a1dccfe.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-109c2a3f1ffd4aaa9c77cffe6a1dccfe.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a5fcb365e8e8419e81549f0d3e80ccf7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a5fcb365e8e8419e81549f0d3e80ccf7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-6fc4300d7a4e467a98bc9b874d7207bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6fc4300d7a4e467a98bc9b874d7207bb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bd942826127b46e2bd9c88ab4aeeeaa1.html" target="element"> Co&#246;rdineren beheer en onderhoud van gebouw(en) </a> </td>
																		<td> <a href="../elements/id-c605b1fdd2a04dee98b1962c39c3630b.html" target="element"> Gebouwenbeheer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-00d8e233a1934d70ad3a25fdd128ada8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00d8e233a1934d70ad3a25fdd128ada8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c5a56a253eba4a92a604df696bd5461d.html" target="element"> Exploiteren van gebouw(en) </a> </td>
																		<td> <a href="../elements/id-c605b1fdd2a04dee98b1962c39c3630b.html" target="element"> Gebouwenbeheer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-174496a8bbd24252870de0d971edc04c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-174496a8bbd24252870de0d971edc04c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-842a0292ec1c4394b00759486d18ece0.html" target="element"> Adviseren nieuwbouw, verbouw en renovatie van gebouw(en) </a> </td>
																		<td> <a href="../elements/id-c605b1fdd2a04dee98b1962c39c3630b.html" target="element"> Gebouwenbeheer </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>