<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>01. Aanvragen collegiaal consult</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>01. Aanvragen collegiaal consult</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-73d2f19879ef4750b8f0f50a3190180d.png" alt="01. Aanvragen collegiaal consult" usemap="#id-73d2f19879ef4750b8f0f50a3190180dmap"/>
			   <map name="id-73d2f19879ef4750b8f0f50a3190180dmap">
				          <area shape="rect" coords="382,281,495,332" href="../objects/id-40990b0343a64140aefa880c169134e0.html" target="element" >
				  		<area shape="rect" coords="10,298,150,378" href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html"  target="element">
				  		<area shape="rect" coords="10,106,150,186" href="../elements/id-c030400444334ac2a19b52ce963f57a6.html"  target="element">
				  		<area shape="rect" coords="646,202,786,282" href="../elements/id-8b4aa17d6721445da9a77a7907ad4805.html"  target="element">
				  		<area shape="rect" coords="646,106,786,186" href="../elements/id-815aff8ba21049af85942cc65385f0a4.html"  target="element">
				  		<area shape="rect" coords="10,202,150,282" href="../elements/id-70e69703e36146a5add2d857268d7434.html"  target="element">
				  		<area shape="rect" coords="10,10,150,90" href="../elements/id-81f2060b7b624479b15f0699345d4149.html"  target="element">
				  		<area shape="rect" coords="322,156,462,236" href="../elements/id-6cfd3a4911b8414fb2ea568cdc232ae9.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Verzoek aan een collega-zorgverlener binnen of buiten de instelling om een specifiek oordeel/advies inzake diagnose of behandeling.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6cfd3a4911b8414fb2ea568cdc232ae9.html" target="element"> Aanvragen collegiaal consult </a> </td>
											    <td> <a href="../elements/id-6cfd3a4911b8414fb2ea568cdc232ae9.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element"> Zorgkennis </a> </td>
											    <td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element"> Pati&#235;nt (basis medische gegevens) </a> </td>
											    <td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-815aff8ba21049af85942cc65385f0a4.html" target="element"> Collegiaal consult </a> </td>
											    <td> <a href="../elements/id-815aff8ba21049af85942cc65385f0a4.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8b4aa17d6721445da9a77a7907ad4805.html" target="element"> Decursus </a> </td>
											    <td> <a href="../elements/id-8b4aa17d6721445da9a77a7907ad4805.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element"> Pati&#235;nt (administratieve gegevens) </a> </td>
											    <td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element"> Zorgverlener </a> </td>
											    <td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-40990b0343a64140aefa880c169134e0.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-40990b0343a64140aefa880c169134e0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-f35258c2c65d4283a3aa3563e50766bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f35258c2c65d4283a3aa3563e50766bf.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6cfd3a4911b8414fb2ea568cdc232ae9.html" target="element"> Aanvragen collegiaal consult </a> </td>
																		<td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element"> Pati&#235;nt (administratieve gegevens) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ecd580d5044643f09b594a37e3a17236.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ecd580d5044643f09b594a37e3a17236.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6cfd3a4911b8414fb2ea568cdc232ae9.html" target="element"> Aanvragen collegiaal consult </a> </td>
																		<td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element"> Pati&#235;nt (basis medische gegevens) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-02a8f5a2359a460fbfb5e23047dc9b7c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-02a8f5a2359a460fbfb5e23047dc9b7c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6cfd3a4911b8414fb2ea568cdc232ae9.html" target="element"> Aanvragen collegiaal consult </a> </td>
																		<td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element"> Zorgverlener </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b10d8b0d59cf49d6a8e68a2f3bc918fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b10d8b0d59cf49d6a8e68a2f3bc918fb.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6cfd3a4911b8414fb2ea568cdc232ae9.html" target="element"> Aanvragen collegiaal consult </a> </td>
																		<td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element"> Zorgkennis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-96bfab76b8684b019f3c01df6ae4bf4b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96bfab76b8684b019f3c01df6ae4bf4b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6cfd3a4911b8414fb2ea568cdc232ae9.html" target="element"> Aanvragen collegiaal consult </a> </td>
																		<td> <a href="../elements/id-815aff8ba21049af85942cc65385f0a4.html" target="element"> Collegiaal consult </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fa458d067adb419291d463c557eaaee2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fa458d067adb419291d463c557eaaee2.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6cfd3a4911b8414fb2ea568cdc232ae9.html" target="element"> Aanvragen collegiaal consult </a> </td>
																		<td> <a href="../elements/id-8b4aa17d6721445da9a77a7907ad4805.html" target="element"> Decursus </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>