<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>06. Veiligheid, Kwaliteit, Arbo en Milieu</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>06. Veiligheid, Kwaliteit, Arbo en Milieu</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-service_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_service_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-80567397c1fc414ca00f302e2e70048c.png" alt="06. Veiligheid, Kwaliteit, Arbo en Milieu" usemap="#id-80567397c1fc414ca00f302e2e70048cmap"/>
			   <map name="id-80567397c1fc414ca00f302e2e70048cmap">
				  		<area shape="rect" coords="764,262,904,342" href="../elements/id-9a94cb82741948f485a15291ca9aed07.html"  target="element">
				  		<area shape="rect" coords="608,262,748,342" href="../elements/id-2cd4f826c97b4447a6635881a1d8751c.html"  target="element">
				  		<area shape="rect" coords="452,262,592,342" href="../elements/id-25155b87fa9b4ac09285c449eace8f9a.html"  target="element">
				  		<area shape="rect" coords="296,262,436,342" href="../elements/id-f28bcad63d864ff09b50b17afd5f4c0a.html"  target="element">
				  		<area shape="rect" coords="140,262,280,342" href="../elements/id-488f77296f534f5c86349941854b0ff8.html"  target="element">
				          <area shape="rect" coords="10,262,90,342" href="../objects/id-92f9248500ed4994af0792eea991703d.html" target="element" >
				          <area shape="rect" coords="10,130,90,210" href="../objects/id-314dd97c0ef5423d87ab80b458cdc527.html" target="element" >
				          <area shape="rect" coords="10,10,90,90" href="../objects/id-49e047261a28415ea09c223b9348b475.html" target="element" >
				  		<area shape="rect" coords="452,130,592,210" href="../elements/id-070fd35e2df24cc38a9e9107302b0b0d.html"  target="element">
				  		<area shape="rect" coords="296,130,436,210" href="../elements/id-da2ad3835e6849ed9358d26d26367547.html"  target="element">
				  		<area shape="rect" coords="140,130,280,210" href="../elements/id-0e8c9961303749fe8dac076f193f5b7e.html"  target="element">
				  		<area shape="rect" coords="140,10,592,90" href="../elements/id-529be017814940ed8c0f75cc195fe0ce.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Activiteiten met betrekking tot het bewaken en optimaliseren van Veiligheid, kwaliteit, arbeidsomstandigheden en milieuaspecten binnen de organisatie.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-529be017814940ed8c0f75cc195fe0ce.html" target="element"> Veiligheid, Kwaliteit, Arbo en Milieu </a> </td>
											    <td> <a href="../elements/id-529be017814940ed8c0f75cc195fe0ce.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0e8c9961303749fe8dac076f193f5b7e.html" target="element"> Bewaken kwaliteit en veiligheid </a> </td>
											    <td> <a href="../elements/id-0e8c9961303749fe8dac076f193f5b7e.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-da2ad3835e6849ed9358d26d26367547.html" target="element"> Bewaken Arbeidsomstandigheden (ARBO) </a> </td>
											    <td> <a href="../elements/id-da2ad3835e6849ed9358d26d26367547.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-070fd35e2df24cc38a9e9107302b0b0d.html" target="element"> Bewaken Milieu </a> </td>
											    <td> <a href="../elements/id-070fd35e2df24cc38a9e9107302b0b0d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-49e047261a28415ea09c223b9348b475.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-49e047261a28415ea09c223b9348b475.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-314dd97c0ef5423d87ab80b458cdc527.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-314dd97c0ef5423d87ab80b458cdc527.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-92f9248500ed4994af0792eea991703d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-92f9248500ed4994af0792eea991703d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-488f77296f534f5c86349941854b0ff8.html" target="element"> VKAM-plan  </a> </td>
											    <td> <a href="../elements/id-488f77296f534f5c86349941854b0ff8.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f28bcad63d864ff09b50b17afd5f4c0a.html" target="element"> VKAM-advies </a> </td>
											    <td> <a href="../elements/id-f28bcad63d864ff09b50b17afd5f4c0a.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-25155b87fa9b4ac09285c449eace8f9a.html" target="element"> Bevinding </a> </td>
											    <td> <a href="../elements/id-25155b87fa9b4ac09285c449eace8f9a.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2cd4f826c97b4447a6635881a1d8751c.html" target="element"> Risicoanalyse </a> </td>
											    <td> <a href="../elements/id-2cd4f826c97b4447a6635881a1d8751c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9a94cb82741948f485a15291ca9aed07.html" target="element"> Wettelijke VKAM-registraties </a> </td>
											    <td> <a href="../elements/id-9a94cb82741948f485a15291ca9aed07.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-f4c463fcb480417f9785f1bf25bf74ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f4c463fcb480417f9785f1bf25bf74ca.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0e8c9961303749fe8dac076f193f5b7e.html" target="element"> Bewaken kwaliteit en veiligheid </a> </td>
																		<td> <a href="../elements/id-529be017814940ed8c0f75cc195fe0ce.html" target="element"> Veiligheid, Kwaliteit, Arbo en Milieu </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8578b29bc2c84260b3182c056cd5c6c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8578b29bc2c84260b3182c056cd5c6c7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-da2ad3835e6849ed9358d26d26367547.html" target="element"> Bewaken Arbeidsomstandigheden (ARBO) </a> </td>
																		<td> <a href="../elements/id-529be017814940ed8c0f75cc195fe0ce.html" target="element"> Veiligheid, Kwaliteit, Arbo en Milieu </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f809007b610b40aa994d625ed942a192.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f809007b610b40aa994d625ed942a192.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-070fd35e2df24cc38a9e9107302b0b0d.html" target="element"> Bewaken Milieu </a> </td>
																		<td> <a href="../elements/id-529be017814940ed8c0f75cc195fe0ce.html" target="element"> Veiligheid, Kwaliteit, Arbo en Milieu </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>