<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>02. Aanbieden zorgspecifieke informatie aan patiënt</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>02. Aanbieden zorgspecifieke informatie aan pati&#235;nt</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-89a4ed79b24b47538fa7f1fb7ce82e0c.png" alt="02. Aanbieden zorgspecifieke informatie aan patiënt" usemap="#id-89a4ed79b24b47538fa7f1fb7ce82e0cmap"/>
			   <map name="id-89a4ed79b24b47538fa7f1fb7ce82e0cmap">
				  		<area shape="rect" coords="355,130,380,150" href="../views/id-5a818f9e7d25485d9fa959fef1343d73.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,10,150,90" href="../elements/id-c030400444334ac2a19b52ce963f57a6.html"  target="element">
				  		<area shape="rect" coords="10,113,150,193" href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html"  target="element">
				  		<area shape="rect" coords="574,58,714,138" href="../elements/id-1781246b4145441dbe426fc96aea1513.html"  target="element">
				  		<area shape="rect" coords="298,58,438,138" href="../elements/id-a0a40681f35b43c989c3be8f0882c696.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Aan de pati&#235;nt leveren van medisch inhoudelijke en zorginformatie door zorgverleners en ondersteuners, zowel tijdens een regulier consult of bijvoorbeeld op forums, op pati&#235;ntverenigingen of via e-consult. Dit kan ook zijn op verzoek van pati&#235;nt (bijvoorbeeld inzage in zijn of haar dossier).</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a0a40681f35b43c989c3be8f0882c696.html" target="element"> Aanbieden zorgspecifieke informatie aan pati&#235;nt </a> </td>
											    <td> <a href="../elements/id-a0a40681f35b43c989c3be8f0882c696.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1781246b4145441dbe426fc96aea1513.html" target="element"> Pati&#235;ntspecifieke zorginformatie </a> </td>
											    <td> <a href="../elements/id-1781246b4145441dbe426fc96aea1513.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element"> Zorgverlener </a> </td>
											    <td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element"> Pati&#235;nt (administratieve gegevens) </a> </td>
											    <td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-5a818f9e7d25485d9fa959fef1343d73.html" target="view"> 01. Participatie </a> </td>
											    <td> <a href="../views/id-5a818f9e7d25485d9fa959fef1343d73.html" target="view" class="i18n-viewpoint-service_realization"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-33c7eb4da9344ed7b80c9ffbb4a2d914.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-33c7eb4da9344ed7b80c9ffbb4a2d914.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0a40681f35b43c989c3be8f0882c696.html" target="element"> Aanbieden zorgspecifieke informatie aan pati&#235;nt </a> </td>
																		<td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element"> Pati&#235;nt (administratieve gegevens) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-89cafa7aaf514e6d8b16e21b5cd03322.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-89cafa7aaf514e6d8b16e21b5cd03322.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0a40681f35b43c989c3be8f0882c696.html" target="element"> Aanbieden zorgspecifieke informatie aan pati&#235;nt </a> </td>
																		<td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element"> Zorgverlener </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a5fbc1fc537c4d148addb8a5ca512bce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a5fbc1fc537c4d148addb8a5ca512bce.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0a40681f35b43c989c3be8f0882c696.html" target="element"> Aanbieden zorgspecifieke informatie aan pati&#235;nt </a> </td>
																		<td> <a href="../elements/id-1781246b4145441dbe426fc96aea1513.html" target="element"> Pati&#235;ntspecifieke zorginformatie </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>