<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>10. Facilitaire ondersteuning</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>10. Facilitaire ondersteuning</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-service_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_service_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a107903643fc4022a2a952e1bdbc87cc.png" alt="10. Facilitaire ondersteuning" usemap="#id-a107903643fc4022a2a952e1bdbc87ccmap"/>
			   <map name="id-a107903643fc4022a2a952e1bdbc87ccmap">
				  		<area shape="rect" coords="322,138,462,218" href="../elements/id-40b0a3fc0ad84930b45720fe17514d51.html"  target="element">
				  		<area shape="rect" coords="166,138,306,218" href="../elements/id-8290d6711a41420ba8b488813df3f782.html"  target="element">
				  		<area shape="rect" coords="10,138,150,218" href="../elements/id-1c965971d558420ab22cca61851df4a1.html"  target="element">
				  		<area shape="rect" coords="10,10,462,90" href="../elements/id-5b0f831adc554fd9889f0a65c0f5ffa4.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Facilitaire ondersteuning bevat de activiteiten ten behoeve van de facilitaire ondersteuning van de organisatie.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-5b0f831adc554fd9889f0a65c0f5ffa4.html" target="element"> Facilitaire ondersteuning </a> </td>
											    <td> <a href="../elements/id-5b0f831adc554fd9889f0a65c0f5ffa4.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1c965971d558420ab22cca61851df4a1.html" target="element"> Leveren van facilitaire diensten </a> </td>
											    <td> <a href="../elements/id-1c965971d558420ab22cca61851df4a1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8290d6711a41420ba8b488813df3f782.html" target="element"> Beheren facilitaire hulpmiddelen </a> </td>
											    <td> <a href="../elements/id-8290d6711a41420ba8b488813df3f782.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-40b0a3fc0ad84930b45720fe17514d51.html" target="element"> Beheren technische installaties </a> </td>
											    <td> <a href="../elements/id-40b0a3fc0ad84930b45720fe17514d51.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-9fc8f6ef71a749329eab9a2731ed9ad2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9fc8f6ef71a749329eab9a2731ed9ad2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c965971d558420ab22cca61851df4a1.html" target="element"> Leveren van facilitaire diensten </a> </td>
																		<td> <a href="../elements/id-5b0f831adc554fd9889f0a65c0f5ffa4.html" target="element"> Facilitaire ondersteuning </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-61540df111e44cb58a2a1b5730150b14.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61540df111e44cb58a2a1b5730150b14.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8290d6711a41420ba8b488813df3f782.html" target="element"> Beheren facilitaire hulpmiddelen </a> </td>
																		<td> <a href="../elements/id-5b0f831adc554fd9889f0a65c0f5ffa4.html" target="element"> Facilitaire ondersteuning </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-645f8f237fac45c3bda11241613c21bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-645f8f237fac45c3bda11241613c21bf.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-40b0a3fc0ad84930b45720fe17514d51.html" target="element"> Beheren technische installaties </a> </td>
																		<td> <a href="../elements/id-5b0f831adc554fd9889f0a65c0f5ffa4.html" target="element"> Facilitaire ondersteuning </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>