<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>03. Bepalen beleid</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>03. Bepalen beleid</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a5e237c1c8004224b065522053eeb582.png" alt="03. Bepalen beleid" usemap="#id-a5e237c1c8004224b065522053eeb582map"/>
			   <map name="id-a5e237c1c8004224b065522053eeb582map">
				  		<area shape="rect" coords="622,58,762,138" href="../elements/id-511202ab9271410392d7d2344ae136d4.html"  target="element">
				  		<area shape="rect" coords="622,154,762,234" href="../elements/id-81f2060b7b624479b15f0699345d4149.html"  target="element">
				  		<area shape="rect" coords="10,106,150,186" href="../elements/id-00a01287b8244be6b422bba134878e25.html"  target="element">
				  		<area shape="rect" coords="10,10,150,90" href="../elements/id-0650eb7b0b204ec59cbf0370d94df6d4.html"  target="element">
				  		<area shape="rect" coords="10,202,150,282" href="../elements/id-77730987b2604ebdaf35308ee6b2232e.html"  target="element">
				  		<area shape="rect" coords="310,106,450,186" href="../elements/id-919635fea1884b289c253c2db621b3ab.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Bepalen organisatie- en/of divisiebeleid en specifieke beleidsplannen op bijvoorbeeld de gebieden medisch, verpleegkundig, afdeling, VKAM (veiligheid, arbeid, kwaliteit en milieu), op zowel strategisch, tactisch als operationeel niveau.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-919635fea1884b289c253c2db621b3ab.html" target="element"> Bepalen beleid </a> </td>
											    <td> <a href="../elements/id-919635fea1884b289c253c2db621b3ab.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-77730987b2604ebdaf35308ee6b2232e.html" target="element"> Strategie </a> </td>
											    <td> <a href="../elements/id-77730987b2604ebdaf35308ee6b2232e.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0650eb7b0b204ec59cbf0370d94df6d4.html" target="element"> Missie </a> </td>
											    <td> <a href="../elements/id-0650eb7b0b204ec59cbf0370d94df6d4.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-00a01287b8244be6b422bba134878e25.html" target="element"> Visie </a> </td>
											    <td> <a href="../elements/id-00a01287b8244be6b422bba134878e25.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element"> Zorgkennis </a> </td>
											    <td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-511202ab9271410392d7d2344ae136d4.html" target="element"> Organisatiebeleid </a> </td>
											    <td> <a href="../elements/id-511202ab9271410392d7d2344ae136d4.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-30333199fc044231becb20ad4b8b558e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-30333199fc044231becb20ad4b8b558e.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-919635fea1884b289c253c2db621b3ab.html" target="element"> Bepalen beleid </a> </td>
																		<td> <a href="../elements/id-0650eb7b0b204ec59cbf0370d94df6d4.html" target="element"> Missie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5f0a31f9905748879bb0d41bba5439d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f0a31f9905748879bb0d41bba5439d6.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-919635fea1884b289c253c2db621b3ab.html" target="element"> Bepalen beleid </a> </td>
																		<td> <a href="../elements/id-00a01287b8244be6b422bba134878e25.html" target="element"> Visie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2fa4b923071145b3b51d612f4c03b0b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2fa4b923071145b3b51d612f4c03b0b1.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-919635fea1884b289c253c2db621b3ab.html" target="element"> Bepalen beleid </a> </td>
																		<td> <a href="../elements/id-77730987b2604ebdaf35308ee6b2232e.html" target="element"> Strategie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-02e41bbb8ab044c0819f67ca48e63579.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-02e41bbb8ab044c0819f67ca48e63579.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-919635fea1884b289c253c2db621b3ab.html" target="element"> Bepalen beleid </a> </td>
																		<td> <a href="../elements/id-511202ab9271410392d7d2344ae136d4.html" target="element"> Organisatiebeleid </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-610c63326ec040aeae99c08ff5dd13e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-610c63326ec040aeae99c08ff5dd13e8.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-919635fea1884b289c253c2db621b3ab.html" target="element"> Bepalen beleid </a> </td>
																		<td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element"> Zorgkennis </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>