<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>04. Vaststellen diagnose</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>04. Vaststellen diagnose</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-abb4d1a7a9cb42af8f4cf99bbb00f288.png" alt="04. Vaststellen diagnose" usemap="#id-abb4d1a7a9cb42af8f4cf99bbb00f288map"/>
			   <map name="id-abb4d1a7a9cb42af8f4cf99bbb00f288map">
				          <area shape="rect" coords="442,418,555,469" href="../objects/id-36b970fe42634858b3b79e5de86e9e43.html" target="element" >
				  		<area shape="rect" coords="322,10,462,90" href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html"  target="element">
				  		<area shape="rect" coords="10,10,150,90" href="../elements/id-c030400444334ac2a19b52ce963f57a6.html"  target="element">
				  		<area shape="rect" coords="10,586,150,666" href="../elements/id-730829c88a1546c79ee378365a20d678.html"  target="element">
				  		<area shape="rect" coords="10,490,150,570" href="../elements/id-efdc30b967d647a7b32b4de9106d2c75.html"  target="element">
				  		<area shape="rect" coords="10,682,150,762" href="../elements/id-596de86a12fe4c7c8d6c5d1bc83219e2.html"  target="element">
				  		<area shape="rect" coords="10,202,150,282" href="../elements/id-7fd87fe654464dd9ac50db931547f655.html"  target="element">
				  		<area shape="rect" coords="706,344,846,424" href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html"  target="element">
				  		<area shape="rect" coords="706,250,846,330" href="../elements/id-8b4aa17d6721445da9a77a7907ad4805.html"  target="element">
				  		<area shape="rect" coords="10,106,150,186" href="../elements/id-70bc4047046a415da70e1d9c590943d6.html"  target="element">
				  		<area shape="rect" coords="166,10,306,90" href="../elements/id-70e69703e36146a5add2d857268d7434.html"  target="element">
				  		<area shape="rect" coords="10,394,150,474" href="../elements/id-81f2060b7b624479b15f0699345d4149.html"  target="element">
				  		<area shape="rect" coords="10,298,150,378" href="../elements/id-716c50b31c3649aab1503b7da64589f3.html"  target="element">
				  		<area shape="rect" coords="358,298,498,378" href="../elements/id-f4fa21f508704efd9bb20a2f22f953f4.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Vaststellen van een ziekte of probleem door middel van bewezen methoden en technieken.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-f4fa21f508704efd9bb20a2f22f953f4.html" target="element"> Vaststellen diagnose  </a> </td>
											    <td> <a href="../elements/id-f4fa21f508704efd9bb20a2f22f953f4.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-716c50b31c3649aab1503b7da64589f3.html" target="element"> Verwijsinformatie </a> </td>
											    <td> <a href="../elements/id-716c50b31c3649aab1503b7da64589f3.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element"> Zorgkennis </a> </td>
											    <td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element"> Pati&#235;nt (basis medische gegevens) </a> </td>
											    <td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70bc4047046a415da70e1d9c590943d6.html" target="element"> Zorgvraag </a> </td>
											    <td> <a href="../elements/id-70bc4047046a415da70e1d9c590943d6.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8b4aa17d6721445da9a77a7907ad4805.html" target="element"> Decursus </a> </td>
											    <td> <a href="../elements/id-8b4aa17d6721445da9a77a7907ad4805.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html" target="element"> Diagnose </a> </td>
											    <td> <a href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7fd87fe654464dd9ac50db931547f655.html" target="element"> Anamnese </a> </td>
											    <td> <a href="../elements/id-7fd87fe654464dd9ac50db931547f655.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-596de86a12fe4c7c8d6c5d1bc83219e2.html" target="element"> Medicatie inventarisatie </a> </td>
											    <td> <a href="../elements/id-596de86a12fe4c7c8d6c5d1bc83219e2.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-efdc30b967d647a7b32b4de9106d2c75.html" target="element"> Uitslag onderzoek </a> </td>
											    <td> <a href="../elements/id-efdc30b967d647a7b32b4de9106d2c75.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-730829c88a1546c79ee378365a20d678.html" target="element"> Onderzoeksverslag </a> </td>
											    <td> <a href="../elements/id-730829c88a1546c79ee378365a20d678.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element"> Pati&#235;nt (administratieve gegevens) </a> </td>
											    <td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element"> Zorgverlener </a> </td>
											    <td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-36b970fe42634858b3b79e5de86e9e43.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-36b970fe42634858b3b79e5de86e9e43.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-2f4147b1b7624e7bbe6c121d20a47e9f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2f4147b1b7624e7bbe6c121d20a47e9f.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f4fa21f508704efd9bb20a2f22f953f4.html" target="element"> Vaststellen diagnose  </a> </td>
																		<td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element"> Zorgverlener </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-46404e1bf58d4f73b3b9f8c58d6dcfcc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-46404e1bf58d4f73b3b9f8c58d6dcfcc.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f4fa21f508704efd9bb20a2f22f953f4.html" target="element"> Vaststellen diagnose  </a> </td>
																		<td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element"> Pati&#235;nt (basis medische gegevens) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0346fe2042444a58b73da523bb06362c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0346fe2042444a58b73da523bb06362c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f4fa21f508704efd9bb20a2f22f953f4.html" target="element"> Vaststellen diagnose  </a> </td>
																		<td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element"> Pati&#235;nt (administratieve gegevens) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0cbff1bb06fb49eda2ff953e29009e2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0cbff1bb06fb49eda2ff953e29009e2e.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f4fa21f508704efd9bb20a2f22f953f4.html" target="element"> Vaststellen diagnose  </a> </td>
																		<td> <a href="../elements/id-70bc4047046a415da70e1d9c590943d6.html" target="element"> Zorgvraag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-17ac5350413542c9af3f414644095dca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-17ac5350413542c9af3f414644095dca.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f4fa21f508704efd9bb20a2f22f953f4.html" target="element"> Vaststellen diagnose  </a> </td>
																		<td> <a href="../elements/id-7fd87fe654464dd9ac50db931547f655.html" target="element"> Anamnese </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bfdfe547c65b4347837fc8321f545ac9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bfdfe547c65b4347837fc8321f545ac9.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f4fa21f508704efd9bb20a2f22f953f4.html" target="element"> Vaststellen diagnose  </a> </td>
																		<td> <a href="../elements/id-716c50b31c3649aab1503b7da64589f3.html" target="element"> Verwijsinformatie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dba1d226dfef40f1bd71851cd2880a65.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dba1d226dfef40f1bd71851cd2880a65.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f4fa21f508704efd9bb20a2f22f953f4.html" target="element"> Vaststellen diagnose  </a> </td>
																		<td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element"> Zorgkennis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-49de333013b54e3dbfa717f234ff6c6a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-49de333013b54e3dbfa717f234ff6c6a.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f4fa21f508704efd9bb20a2f22f953f4.html" target="element"> Vaststellen diagnose  </a> </td>
																		<td> <a href="../elements/id-efdc30b967d647a7b32b4de9106d2c75.html" target="element"> Uitslag onderzoek </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ccf0052c2c14436d99a5b7573b08e305.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ccf0052c2c14436d99a5b7573b08e305.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f4fa21f508704efd9bb20a2f22f953f4.html" target="element"> Vaststellen diagnose  </a> </td>
																		<td> <a href="../elements/id-730829c88a1546c79ee378365a20d678.html" target="element"> Onderzoeksverslag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e2bed29a166a49479edeb772c6d045b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e2bed29a166a49479edeb772c6d045b7.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f4fa21f508704efd9bb20a2f22f953f4.html" target="element"> Vaststellen diagnose  </a> </td>
																		<td> <a href="../elements/id-596de86a12fe4c7c8d6c5d1bc83219e2.html" target="element"> Medicatie inventarisatie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5bf33e30f6944c8a9b15851dbb2305bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5bf33e30f6944c8a9b15851dbb2305bd.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f4fa21f508704efd9bb20a2f22f953f4.html" target="element"> Vaststellen diagnose  </a> </td>
																		<td> <a href="../elements/id-8b4aa17d6721445da9a77a7907ad4805.html" target="element"> Decursus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b17c4501b3a046979ccf7c809d52d26b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b17c4501b3a046979ccf7c809d52d26b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f4fa21f508704efd9bb20a2f22f953f4.html" target="element"> Vaststellen diagnose  </a> </td>
																		<td> <a href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html" target="element"> Diagnose </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>