<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>03. Verwijzing</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>03. Verwijzing</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-service_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_service_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-bdaa695eb2a6431496bf94a184db81c2.png" alt="03. Verwijzing" usemap="#id-bdaa695eb2a6431496bf94a184db81c2map"/>
			   <map name="id-bdaa695eb2a6431496bf94a184db81c2map">
				  		<area shape="rect" coords="286,262,426,342" href="../elements/id-716c50b31c3649aab1503b7da64589f3.html"  target="element">
				          <area shape="rect" coords="10,262,90,342" href="../objects/id-bb690e817786404cb96967085d6fd9c0.html" target="element" >
				          <area shape="rect" coords="10,130,90,210" href="../objects/id-317129f84711493595ab85581efa20ea.html" target="element" >
				          <area shape="rect" coords="10,10,90,90" href="../objects/id-4d1978d050a64519b92b1d22b3b85903.html" target="element" >
				  		<area shape="rect" coords="124,130,264,210" href="../elements/id-722cfe57843940d09a6bb32d5713d0e5.html"  target="element">
				  		<area shape="rect" coords="286,130,426,210" href="../elements/id-633baea98df34d8b952f79da3a00a0bf.html"  target="element">
				  		<area shape="rect" coords="124,10,426,90" href="../elements/id-388da5b1d3b64613b5fa569019e83bec.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Verwijzing bevat de activiteiten voor verwijzingen van en naar andere zorgverleners.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-388da5b1d3b64613b5fa569019e83bec.html" target="element"> Verwijzing </a> </td>
											    <td> <a href="../elements/id-388da5b1d3b64613b5fa569019e83bec.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-633baea98df34d8b952f79da3a00a0bf.html" target="element"> Verwijzen </a> </td>
											    <td> <a href="../elements/id-633baea98df34d8b952f79da3a00a0bf.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-722cfe57843940d09a6bb32d5713d0e5.html" target="element"> Verwerken verwijzing </a> </td>
											    <td> <a href="../elements/id-722cfe57843940d09a6bb32d5713d0e5.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-4d1978d050a64519b92b1d22b3b85903.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4d1978d050a64519b92b1d22b3b85903.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-317129f84711493595ab85581efa20ea.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-317129f84711493595ab85581efa20ea.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-bb690e817786404cb96967085d6fd9c0.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-bb690e817786404cb96967085d6fd9c0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-716c50b31c3649aab1503b7da64589f3.html" target="element"> Verwijsinformatie </a> </td>
											    <td> <a href="../elements/id-716c50b31c3649aab1503b7da64589f3.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-0dbe98ac277a4ec99a4ebbd523d80902.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0dbe98ac277a4ec99a4ebbd523d80902.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-633baea98df34d8b952f79da3a00a0bf.html" target="element"> Verwijzen </a> </td>
																		<td> <a href="../elements/id-388da5b1d3b64613b5fa569019e83bec.html" target="element"> Verwijzing </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-eabe4f49ffb7412f974ba8277791623f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eabe4f49ffb7412f974ba8277791623f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-722cfe57843940d09a6bb32d5713d0e5.html" target="element"> Verwerken verwijzing </a> </td>
																		<td> <a href="../elements/id-388da5b1d3b64613b5fa569019e83bec.html" target="element"> Verwijzing </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>