<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>03. Beoordelen uitslag (aanvullend of zelf-) onderzoek</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>03. Beoordelen uitslag (aanvullend of zelf-) onderzoek</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-bbb6540e38dc40759c962feb372fc94c.png" alt="03. Beoordelen uitslag (aanvullend of zelf-) onderzoek" usemap="#id-bbb6540e38dc40759c962feb372fc94cmap"/>
			   <map name="id-bbb6540e38dc40759c962feb372fc94cmap">
				  		<area shape="rect" coords="10,682,150,762" href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html"  target="element">
				  		<area shape="rect" coords="10,492,150,572" href="../elements/id-c030400444334ac2a19b52ce963f57a6.html"  target="element">
				  		<area shape="rect" coords="10,394,150,474" href="../elements/id-18189d2970d34f4b9f0c56501bbbba93.html"  target="element">
				  		<area shape="rect" coords="10,298,150,378" href="../elements/id-efdc30b967d647a7b32b4de9106d2c75.html"  target="element">
				  		<area shape="rect" coords="10,202,150,282" href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html"  target="element">
				  		<area shape="rect" coords="730,334,870,414" href="../elements/id-8b4aa17d6721445da9a77a7907ad4805.html"  target="element">
				  		<area shape="rect" coords="10,586,150,666" href="../elements/id-70e69703e36146a5add2d857268d7434.html"  target="element">
				  		<area shape="rect" coords="10,106,150,186" href="../elements/id-81f2060b7b624479b15f0699345d4149.html"  target="element">
				  		<area shape="rect" coords="10,10,150,90" href="../elements/id-3288b948f630497ab32a96fdc7146875.html"  target="element">
				  		<area shape="rect" coords="406,334,546,414" href="../elements/id-c147b4dd5b6046ae9e99f424e35455ee.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Beoordelen van de resultaten van aanvullend onderzoek of door pati&#235;nt zelf uitgevoerd onderzoek en deze betrekken bij diagnose en behandelplan.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-c147b4dd5b6046ae9e99f424e35455ee.html" target="element"> Beoordelen uitslag (aanvullend of zelf-) onderzoek </a> </td>
											    <td> <a href="../elements/id-c147b4dd5b6046ae9e99f424e35455ee.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3288b948f630497ab32a96fdc7146875.html" target="element"> Zelfmanagement informatie </a> </td>
											    <td> <a href="../elements/id-3288b948f630497ab32a96fdc7146875.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element"> Zorgkennis </a> </td>
											    <td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element"> Pati&#235;nt (basis medische gegevens) </a> </td>
											    <td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8b4aa17d6721445da9a77a7907ad4805.html" target="element"> Decursus </a> </td>
											    <td> <a href="../elements/id-8b4aa17d6721445da9a77a7907ad4805.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html" target="element"> Diagnose </a> </td>
											    <td> <a href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-efdc30b967d647a7b32b4de9106d2c75.html" target="element"> Uitslag onderzoek </a> </td>
											    <td> <a href="../elements/id-efdc30b967d647a7b32b4de9106d2c75.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-18189d2970d34f4b9f0c56501bbbba93.html" target="element"> Onderzoeksrapport </a> </td>
											    <td> <a href="../elements/id-18189d2970d34f4b9f0c56501bbbba93.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element"> Pati&#235;nt (administratieve gegevens) </a> </td>
											    <td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element"> Zorgverlener </a> </td>
											    <td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-ac993387b6bf4c61a86e8a72a8a1bdf2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac993387b6bf4c61a86e8a72a8a1bdf2.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c147b4dd5b6046ae9e99f424e35455ee.html" target="element"> Beoordelen uitslag (aanvullend of zelf-) onderzoek </a> </td>
																		<td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element"> Zorgkennis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-84be82c49c6b49b2aefa3f9b0711a25b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-84be82c49c6b49b2aefa3f9b0711a25b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c147b4dd5b6046ae9e99f424e35455ee.html" target="element"> Beoordelen uitslag (aanvullend of zelf-) onderzoek </a> </td>
																		<td> <a href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html" target="element"> Diagnose </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4ab27325c016459288b7a1238dc094d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ab27325c016459288b7a1238dc094d9.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c147b4dd5b6046ae9e99f424e35455ee.html" target="element"> Beoordelen uitslag (aanvullend of zelf-) onderzoek </a> </td>
																		<td> <a href="../elements/id-efdc30b967d647a7b32b4de9106d2c75.html" target="element"> Uitslag onderzoek </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ed7aa0b39bd845c3a832253541ffc89e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed7aa0b39bd845c3a832253541ffc89e.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c147b4dd5b6046ae9e99f424e35455ee.html" target="element"> Beoordelen uitslag (aanvullend of zelf-) onderzoek </a> </td>
																		<td> <a href="../elements/id-18189d2970d34f4b9f0c56501bbbba93.html" target="element"> Onderzoeksrapport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bf8f07c498554566a9c2c5a3b1acd23d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bf8f07c498554566a9c2c5a3b1acd23d.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c147b4dd5b6046ae9e99f424e35455ee.html" target="element"> Beoordelen uitslag (aanvullend of zelf-) onderzoek </a> </td>
																		<td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element"> Pati&#235;nt (administratieve gegevens) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b2722756cacb43fc9cfd46fb8f74ca00.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b2722756cacb43fc9cfd46fb8f74ca00.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c147b4dd5b6046ae9e99f424e35455ee.html" target="element"> Beoordelen uitslag (aanvullend of zelf-) onderzoek </a> </td>
																		<td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element"> Pati&#235;nt (basis medische gegevens) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-12e16ce4de8345e4b178bf890dadc533.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-12e16ce4de8345e4b178bf890dadc533.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c147b4dd5b6046ae9e99f424e35455ee.html" target="element"> Beoordelen uitslag (aanvullend of zelf-) onderzoek </a> </td>
																		<td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element"> Zorgverlener </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b372ca2b50424de3b1f19b2ce14a9f13.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b372ca2b50424de3b1f19b2ce14a9f13.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c147b4dd5b6046ae9e99f424e35455ee.html" target="element"> Beoordelen uitslag (aanvullend of zelf-) onderzoek </a> </td>
																		<td> <a href="../elements/id-8b4aa17d6721445da9a77a7907ad4805.html" target="element"> Decursus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fa1416632143499880909dcf143f47e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fa1416632143499880909dcf143f47e3.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c147b4dd5b6046ae9e99f424e35455ee.html" target="element"> Beoordelen uitslag (aanvullend of zelf-) onderzoek </a> </td>
																		<td> <a href="../elements/id-3288b948f630497ab32a96fdc7146875.html" target="element"> Zelfmanagement informatie </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>