<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>03. Zorgrelatie</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>03. Zorgrelatie</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-service_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_service_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-cab16676b16d470bbd4385e348fc77e2.png" alt="03. Zorgrelatie" usemap="#id-cab16676b16d470bbd4385e348fc77e2map"/>
			   <map name="id-cab16676b16d470bbd4385e348fc77e2map">
				  		<area shape="rect" coords="484,140,624,220" href="../elements/id-84c2a2527838477b9d63bd569e15380c.html"  target="element">
				  		<area shape="rect" coords="328,140,468,220" href="../elements/id-0a8345df5edd443a82dc74eace18e5d6.html"  target="element">
				  		<area shape="rect" coords="166,140,306,220" href="../elements/id-a8bcf66e5cb941dd8809c6287263ade1.html"  target="element">
				  		<area shape="rect" coords="10,143,150,223" href="../elements/id-4c94ad5ea7dd4581bedc1bded03de614.html"  target="element">
				  		<area shape="rect" coords="10,10,624,90" href="../elements/id-45f9c5e5c3c640ae9a66276658fbd91d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Zorgrelatie bevat de activiteiten op het gebied van het identificeren, vastleggen en onderhouden van zorgrelaties, inclusief zorgverleners en financiers.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-45f9c5e5c3c640ae9a66276658fbd91d.html" target="element"> Zorgrelatie </a> </td>
											    <td> <a href="../elements/id-45f9c5e5c3c640ae9a66276658fbd91d.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4c94ad5ea7dd4581bedc1bded03de614.html" target="element"> Registeren, identificeren en onderhouden pati&#235;nten </a> </td>
											    <td> <a href="../elements/id-4c94ad5ea7dd4581bedc1bded03de614.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a8bcf66e5cb941dd8809c6287263ade1.html" target="element"> Registeren, identificeren en onderhouden zorgverleners </a> </td>
											    <td> <a href="../elements/id-a8bcf66e5cb941dd8809c6287263ade1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0a8345df5edd443a82dc74eace18e5d6.html" target="element"> Registeren, identificeren en onderhouden zorgaanbieders </a> </td>
											    <td> <a href="../elements/id-0a8345df5edd443a82dc74eace18e5d6.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-84c2a2527838477b9d63bd569e15380c.html" target="element"> Onderhouden financiers </a> </td>
											    <td> <a href="../elements/id-84c2a2527838477b9d63bd569e15380c.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-767fee8950c74c68bba329fa25846efd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-767fee8950c74c68bba329fa25846efd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4c94ad5ea7dd4581bedc1bded03de614.html" target="element"> Registeren, identificeren en onderhouden pati&#235;nten </a> </td>
																		<td> <a href="../elements/id-45f9c5e5c3c640ae9a66276658fbd91d.html" target="element"> Zorgrelatie </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-97632654a1ff432ca85babbeeb40f389.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-97632654a1ff432ca85babbeeb40f389.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a8bcf66e5cb941dd8809c6287263ade1.html" target="element"> Registeren, identificeren en onderhouden zorgverleners </a> </td>
																		<td> <a href="../elements/id-45f9c5e5c3c640ae9a66276658fbd91d.html" target="element"> Zorgrelatie </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-13ffb572d60f4575b1a4ed339db05de0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-13ffb572d60f4575b1a4ed339db05de0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a8345df5edd443a82dc74eace18e5d6.html" target="element"> Registeren, identificeren en onderhouden zorgaanbieders </a> </td>
																		<td> <a href="../elements/id-45f9c5e5c3c640ae9a66276658fbd91d.html" target="element"> Zorgrelatie </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3beb869622e44d059a443953622d24d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3beb869622e44d059a443953622d24d5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-84c2a2527838477b9d63bd569e15380c.html" target="element"> Onderhouden financiers </a> </td>
																		<td> <a href="../elements/id-45f9c5e5c3c640ae9a66276658fbd91d.html" target="element"> Zorgrelatie </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>