<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>04. Inrichten en beheersen beleid</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>04. Inrichten en beheersen beleid</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e7f4da120eb14a58bf993ae530713960.png" alt="04. Inrichten en beheersen beleid" usemap="#id-e7f4da120eb14a58bf993ae530713960map"/>
			   <map name="id-e7f4da120eb14a58bf993ae530713960map">
				  		<area shape="rect" coords="439,388,464,408" href="../views/id-3a8b6bc036c847c0a6d866f8093940dd.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,772,150,852" href="../elements/id-18189d2970d34f4b9f0c56501bbbba93.html"  target="element">
				  		<area shape="rect" coords="10,676,150,756" href="../elements/id-b3c853ea9d4e41f98f8a902e2915d6cb.html"  target="element">
				  		<area shape="rect" coords="10,580,150,660" href="../elements/id-7346faf9b4ed4aa4a25620b42a7baa6c.html"  target="element">
				  		<area shape="rect" coords="10,484,150,564" href="../elements/id-c5bf6c2b63a64903823991a26bc33e9a.html"  target="element">
				  		<area shape="rect" coords="10,388,150,468" href="../elements/id-b461e2a169ec4fc390e166e484c8e016.html"  target="element">
				  		<area shape="rect" coords="10,292,150,372" href="../elements/id-81ab3700aeec4140b70dd253134c9b01.html"  target="element">
				  		<area shape="rect" coords="10,196,150,276" href="../elements/id-8877c528f2f84366abb025e50788e68f.html"  target="element">
				  		<area shape="rect" coords="10,100,150,180" href="../elements/id-511202ab9271410392d7d2344ae136d4.html"  target="element">
				  		<area shape="rect" coords="10,10,150,90" href="../elements/id-77730987b2604ebdaf35308ee6b2232e.html"  target="element">
				  		<area shape="rect" coords="658,328,798,408" href="../elements/id-81f2060b7b624479b15f0699345d4149.html"  target="element">
				  		<area shape="rect" coords="382,328,522,408" href="../elements/id-47a1975767f84a92a9585d8dc5feed8d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Governance, Planning en Control. Inrichting van de besturing van de organisatie (verdeling van taken, bevoegdheden en verantwoordelijkheden) die nodig is om goede beslissingen te kunnen nemen, inclusief het toezicht op het functioneren ervan (trefzeker en aantoonbaar). Ook het realiseren, optimaliseren en onderhouden van de P&amp;C-cyclus.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-47a1975767f84a92a9585d8dc5feed8d.html" target="element"> Inrichten en beheersen beleid </a> </td>
											    <td> <a href="../elements/id-47a1975767f84a92a9585d8dc5feed8d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element"> Zorgkennis </a> </td>
											    <td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-77730987b2604ebdaf35308ee6b2232e.html" target="element"> Strategie </a> </td>
											    <td> <a href="../elements/id-77730987b2604ebdaf35308ee6b2232e.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-511202ab9271410392d7d2344ae136d4.html" target="element"> Organisatiebeleid </a> </td>
											    <td> <a href="../elements/id-511202ab9271410392d7d2344ae136d4.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8877c528f2f84366abb025e50788e68f.html" target="element"> Productieafspraken </a> </td>
											    <td> <a href="../elements/id-8877c528f2f84366abb025e50788e68f.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-81ab3700aeec4140b70dd253134c9b01.html" target="element"> Prestatie-indicator (KPI) </a> </td>
											    <td> <a href="../elements/id-81ab3700aeec4140b70dd253134c9b01.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b461e2a169ec4fc390e166e484c8e016.html" target="element"> Jaarverslag </a> </td>
											    <td> <a href="../elements/id-b461e2a169ec4fc390e166e484c8e016.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c5bf6c2b63a64903823991a26bc33e9a.html" target="element"> Voortgangsrapportage </a> </td>
											    <td> <a href="../elements/id-c5bf6c2b63a64903823991a26bc33e9a.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7346faf9b4ed4aa4a25620b42a7baa6c.html" target="element"> Innovatieplan / roadmap </a> </td>
											    <td> <a href="../elements/id-7346faf9b4ed4aa4a25620b42a7baa6c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b3c853ea9d4e41f98f8a902e2915d6cb.html" target="element"> Gegevens relatie onderwijs en zorgproces </a> </td>
											    <td> <a href="../elements/id-b3c853ea9d4e41f98f8a902e2915d6cb.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-18189d2970d34f4b9f0c56501bbbba93.html" target="element"> Onderzoeksrapport </a> </td>
											    <td> <a href="../elements/id-18189d2970d34f4b9f0c56501bbbba93.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-3a8b6bc036c847c0a6d866f8093940dd.html" target="view"> 01. Sturing </a> </td>
											    <td> <a href="../views/id-3a8b6bc036c847c0a6d866f8093940dd.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-d184984cb67f4e8ca4d69606184e2bec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d184984cb67f4e8ca4d69606184e2bec.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47a1975767f84a92a9585d8dc5feed8d.html" target="element"> Inrichten en beheersen beleid </a> </td>
																		<td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element"> Zorgkennis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6de92177895b430780e3f83e6498f512.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6de92177895b430780e3f83e6498f512.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47a1975767f84a92a9585d8dc5feed8d.html" target="element"> Inrichten en beheersen beleid </a> </td>
																		<td> <a href="../elements/id-77730987b2604ebdaf35308ee6b2232e.html" target="element"> Strategie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8b4680b5b6de429090bb8755f2161622.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b4680b5b6de429090bb8755f2161622.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47a1975767f84a92a9585d8dc5feed8d.html" target="element"> Inrichten en beheersen beleid </a> </td>
																		<td> <a href="../elements/id-511202ab9271410392d7d2344ae136d4.html" target="element"> Organisatiebeleid </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-698d7793003f44dabbc6b439c1972014.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-698d7793003f44dabbc6b439c1972014.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47a1975767f84a92a9585d8dc5feed8d.html" target="element"> Inrichten en beheersen beleid </a> </td>
																		<td> <a href="../elements/id-8877c528f2f84366abb025e50788e68f.html" target="element"> Productieafspraken </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3cb631eb916e456d9788986b42c0c8be.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3cb631eb916e456d9788986b42c0c8be.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47a1975767f84a92a9585d8dc5feed8d.html" target="element"> Inrichten en beheersen beleid </a> </td>
																		<td> <a href="../elements/id-81ab3700aeec4140b70dd253134c9b01.html" target="element"> Prestatie-indicator (KPI) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2bfc759b3c2145c68d8bbd0c2e0fea8c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2bfc759b3c2145c68d8bbd0c2e0fea8c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47a1975767f84a92a9585d8dc5feed8d.html" target="element"> Inrichten en beheersen beleid </a> </td>
																		<td> <a href="../elements/id-b461e2a169ec4fc390e166e484c8e016.html" target="element"> Jaarverslag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8405241498354745b89a95e8f87cba4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8405241498354745b89a95e8f87cba4c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47a1975767f84a92a9585d8dc5feed8d.html" target="element"> Inrichten en beheersen beleid </a> </td>
																		<td> <a href="../elements/id-c5bf6c2b63a64903823991a26bc33e9a.html" target="element"> Voortgangsrapportage </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8ccc861306c64fa3ba44b1370254e3e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8ccc861306c64fa3ba44b1370254e3e5.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47a1975767f84a92a9585d8dc5feed8d.html" target="element"> Inrichten en beheersen beleid </a> </td>
																		<td> <a href="../elements/id-7346faf9b4ed4aa4a25620b42a7baa6c.html" target="element"> Innovatieplan / roadmap </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2f33e006f42f4e3abc4f2fb8dc3825c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2f33e006f42f4e3abc4f2fb8dc3825c1.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47a1975767f84a92a9585d8dc5feed8d.html" target="element"> Inrichten en beheersen beleid </a> </td>
																		<td> <a href="../elements/id-b3c853ea9d4e41f98f8a902e2915d6cb.html" target="element"> Gegevens relatie onderwijs en zorgproces </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-31bd1cd32834479f9de9681af4c510ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-31bd1cd32834479f9de9681af4c510ce.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47a1975767f84a92a9585d8dc5feed8d.html" target="element"> Inrichten en beheersen beleid </a> </td>
																		<td> <a href="../elements/id-18189d2970d34f4b9f0c56501bbbba93.html" target="element"> Onderzoeksrapport </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>