<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>01. Bepalen Missie & Visie</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>01. Bepalen Missie &amp; Visie</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-fb44cc353273473c9e4435016e3d442c.png" alt="01. Bepalen Missie & Visie" usemap="#id-fb44cc353273473c9e4435016e3d442cmap"/>
			   <map name="id-fb44cc353273473c9e4435016e3d442cmap">
				  		<area shape="rect" coords="67,124,92,144" href="../views/id-3a8b6bc036c847c0a6d866f8093940dd.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="286,106,426,186" href="../elements/id-00a01287b8244be6b422bba134878e25.html"  target="element">
				  		<area shape="rect" coords="286,10,426,90" href="../elements/id-0650eb7b0b204ec59cbf0370d94df6d4.html"  target="element">
				  		<area shape="rect" coords="10,64,150,144" href="../elements/id-7a7ac5415c4e4afa8a8ff95621290805.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Een missie definieert de bestaansgrond van een organisatie en geeft antwoord op de vraag: Waarom doen we wat we doen? De missie is tijdloos. Een visie is een consistente blik op de toekomst en geeft de gewenste situatie aan.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-7a7ac5415c4e4afa8a8ff95621290805.html" target="element"> Bepalen Missie en Visie </a> </td>
											    <td> <a href="../elements/id-7a7ac5415c4e4afa8a8ff95621290805.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0650eb7b0b204ec59cbf0370d94df6d4.html" target="element"> Missie </a> </td>
											    <td> <a href="../elements/id-0650eb7b0b204ec59cbf0370d94df6d4.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-00a01287b8244be6b422bba134878e25.html" target="element"> Visie </a> </td>
											    <td> <a href="../elements/id-00a01287b8244be6b422bba134878e25.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-3a8b6bc036c847c0a6d866f8093940dd.html" target="view"> 01. Sturing </a> </td>
											    <td> <a href="../views/id-3a8b6bc036c847c0a6d866f8093940dd.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-f0312ec500354378999cf1684d28d1e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f0312ec500354378999cf1684d28d1e1.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7a7ac5415c4e4afa8a8ff95621290805.html" target="element"> Bepalen Missie en Visie </a> </td>
																		<td> <a href="../elements/id-0650eb7b0b204ec59cbf0370d94df6d4.html" target="element"> Missie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-61cb98f547344045b71d50b5b660f59d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61cb98f547344045b71d50b5b660f59d.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7a7ac5415c4e4afa8a8ff95621290805.html" target="element"> Bepalen Missie en Visie </a> </td>
																		<td> <a href="../elements/id-00a01287b8244be6b422bba134878e25.html" target="element"> Visie </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>