<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>07. Periodiek evalueren behandeling</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>07. Periodiek evalueren behandeling</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f82bce25b32a4beb85a77d94ee8df9e3.png" alt="07. Periodiek evalueren behandeling" usemap="#id-f82bce25b32a4beb85a77d94ee8df9e3map"/>
			   <map name="id-f82bce25b32a4beb85a77d94ee8df9e3map">
				          <area shape="rect" coords="538,394,651,445" href="../objects/id-b20a60af787c4944b501b26f4d1f79fa.html" target="element" >
				  		<area shape="rect" coords="490,10,630,90" href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html"  target="element">
				  		<area shape="rect" coords="334,10,474,90" href="../elements/id-c030400444334ac2a19b52ce963f57a6.html"  target="element">
				  		<area shape="rect" coords="322,485,462,565" href="../elements/id-730829c88a1546c79ee378365a20d678.html"  target="element">
				  		<area shape="rect" coords="166,485,306,565" href="../elements/id-efdc30b967d647a7b32b4de9106d2c75.html"  target="element">
				  		<area shape="rect" coords="10,485,150,565" href="../elements/id-596de86a12fe4c7c8d6c5d1bc83219e2.html"  target="element">
				  		<area shape="rect" coords="10,389,150,469" href="../elements/id-55c33dc524984f6dbd2fd7568772f088.html"  target="element">
				  		<area shape="rect" coords="862,394,1002,474" href="../elements/id-6d63fb7fd8e3493c82a20c5fd3550da2.html"  target="element">
				  		<area shape="rect" coords="862,298,1002,378" href="../elements/id-7a76e74241794a88b8915aa248908167.html"  target="element">
				  		<area shape="rect" coords="862,202,1002,282" href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html"  target="element">
				  		<area shape="rect" coords="10,298,150,378" href="../elements/id-7fd87fe654464dd9ac50db931547f655.html"  target="element">
				  		<area shape="rect" coords="862,114,1002,194" href="../elements/id-8b4aa17d6721445da9a77a7907ad4805.html"  target="element">
				  		<area shape="rect" coords="10,202,150,282" href="../elements/id-815aff8ba21049af85942cc65385f0a4.html"  target="element">
				  		<area shape="rect" coords="10,106,150,186" href="../elements/id-70bc4047046a415da70e1d9c590943d6.html"  target="element">
				  		<area shape="rect" coords="178,10,318,90" href="../elements/id-70e69703e36146a5add2d857268d7434.html"  target="element">
				  		<area shape="rect" coords="10,10,150,90" href="../elements/id-81f2060b7b624479b15f0699345d4149.html"  target="element">
				  		<area shape="rect" coords="442,250,582,330" href="../elements/id-e206a1f1e37f4053b666473a314a4553.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Periodiek beoordelen van effecten en resultaat van een behandeling en eventueel aanpassen van het behandelplan. Dit is mede als voorbereiding van multidisciplinaire bespreking van de pati&#235;nt (minimaal 2 keer per jaar).</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e206a1f1e37f4053b666473a314a4553.html" target="element"> Periodiek evalueren behandeling </a> </td>
											    <td> <a href="../elements/id-e206a1f1e37f4053b666473a314a4553.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element"> Zorgkennis </a> </td>
											    <td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element"> Pati&#235;nt (basis medische gegevens) </a> </td>
											    <td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70bc4047046a415da70e1d9c590943d6.html" target="element"> Zorgvraag </a> </td>
											    <td> <a href="../elements/id-70bc4047046a415da70e1d9c590943d6.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-815aff8ba21049af85942cc65385f0a4.html" target="element"> Collegiaal consult </a> </td>
											    <td> <a href="../elements/id-815aff8ba21049af85942cc65385f0a4.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8b4aa17d6721445da9a77a7907ad4805.html" target="element"> Decursus </a> </td>
											    <td> <a href="../elements/id-8b4aa17d6721445da9a77a7907ad4805.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7fd87fe654464dd9ac50db931547f655.html" target="element"> Anamnese </a> </td>
											    <td> <a href="../elements/id-7fd87fe654464dd9ac50db931547f655.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html" target="element"> Diagnose </a> </td>
											    <td> <a href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7a76e74241794a88b8915aa248908167.html" target="element"> Toegekend zorgpad </a> </td>
											    <td> <a href="../elements/id-7a76e74241794a88b8915aa248908167.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6d63fb7fd8e3493c82a20c5fd3550da2.html" target="element"> Behandelplan </a> </td>
											    <td> <a href="../elements/id-6d63fb7fd8e3493c82a20c5fd3550da2.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-55c33dc524984f6dbd2fd7568772f088.html" target="element"> Medicatievoorschrift </a> </td>
											    <td> <a href="../elements/id-55c33dc524984f6dbd2fd7568772f088.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-596de86a12fe4c7c8d6c5d1bc83219e2.html" target="element"> Medicatie inventarisatie </a> </td>
											    <td> <a href="../elements/id-596de86a12fe4c7c8d6c5d1bc83219e2.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-efdc30b967d647a7b32b4de9106d2c75.html" target="element"> Uitslag onderzoek </a> </td>
											    <td> <a href="../elements/id-efdc30b967d647a7b32b4de9106d2c75.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-730829c88a1546c79ee378365a20d678.html" target="element"> Onderzoeksverslag </a> </td>
											    <td> <a href="../elements/id-730829c88a1546c79ee378365a20d678.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element"> Pati&#235;nt (administratieve gegevens) </a> </td>
											    <td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element"> Zorgverlener </a> </td>
											    <td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-b20a60af787c4944b501b26f4d1f79fa.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b20a60af787c4944b501b26f4d1f79fa.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-dccee86ded0441b49bf29d8dd76c6595.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dccee86ded0441b49bf29d8dd76c6595.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e206a1f1e37f4053b666473a314a4553.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-61f140a3cadc4988b1dc3361a829cb63.html" target="element"> Zorgverlener </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eada6af92b35434fb4dcde08592df764.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eada6af92b35434fb4dcde08592df764.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e206a1f1e37f4053b666473a314a4553.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-c030400444334ac2a19b52ce963f57a6.html" target="element"> Pati&#235;nt (administratieve gegevens) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b54f62fe13c94d42bd627eecb612fbe4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b54f62fe13c94d42bd627eecb612fbe4.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e206a1f1e37f4053b666473a314a4553.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-70e69703e36146a5add2d857268d7434.html" target="element"> Pati&#235;nt (basis medische gegevens) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-89fe168a2912482a8c812175555d9c4f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-89fe168a2912482a8c812175555d9c4f.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e206a1f1e37f4053b666473a314a4553.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-81f2060b7b624479b15f0699345d4149.html" target="element"> Zorgkennis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cae13ef0fa40415899b7186f67307380.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cae13ef0fa40415899b7186f67307380.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e206a1f1e37f4053b666473a314a4553.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-70bc4047046a415da70e1d9c590943d6.html" target="element"> Zorgvraag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2157293c9d7648889e5422089942b1ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2157293c9d7648889e5422089942b1ce.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e206a1f1e37f4053b666473a314a4553.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-815aff8ba21049af85942cc65385f0a4.html" target="element"> Collegiaal consult </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dc025f0c58884945bf2409379aaf494a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dc025f0c58884945bf2409379aaf494a.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e206a1f1e37f4053b666473a314a4553.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-7fd87fe654464dd9ac50db931547f655.html" target="element"> Anamnese </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-800637dae29745fb877e26d1c1f9aa76.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-800637dae29745fb877e26d1c1f9aa76.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e206a1f1e37f4053b666473a314a4553.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-55c33dc524984f6dbd2fd7568772f088.html" target="element"> Medicatievoorschrift </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-73f1c66104c24aa4a7f20807cdc786bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-73f1c66104c24aa4a7f20807cdc786bf.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e206a1f1e37f4053b666473a314a4553.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-596de86a12fe4c7c8d6c5d1bc83219e2.html" target="element"> Medicatie inventarisatie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-14806e7e22e840788fb6f875bd9b5d19.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-14806e7e22e840788fb6f875bd9b5d19.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e206a1f1e37f4053b666473a314a4553.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-efdc30b967d647a7b32b4de9106d2c75.html" target="element"> Uitslag onderzoek </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e0dc762e8ddb40699e57ca48b750f6ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e0dc762e8ddb40699e57ca48b750f6ad.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e206a1f1e37f4053b666473a314a4553.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-730829c88a1546c79ee378365a20d678.html" target="element"> Onderzoeksverslag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7507b381b79c4603940d41672ca286ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7507b381b79c4603940d41672ca286ce.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e206a1f1e37f4053b666473a314a4553.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-8b4aa17d6721445da9a77a7907ad4805.html" target="element"> Decursus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4da4f325b5dd46d0a07b481aee9f6b6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4da4f325b5dd46d0a07b481aee9f6b6d.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e206a1f1e37f4053b666473a314a4553.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-2734c7e96ef344cbaaae443d06fe1f26.html" target="element"> Diagnose </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c957ec794e924837a9429c89034f5fda.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c957ec794e924837a9429c89034f5fda.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e206a1f1e37f4053b666473a314a4553.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-7a76e74241794a88b8915aa248908167.html" target="element"> Toegekend zorgpad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e3007d15f3884defac5d6fa191414544.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e3007d15f3884defac5d6fa191414544.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e206a1f1e37f4053b666473a314a4553.html" target="element"> Periodiek evalueren behandeling </a> </td>
																		<td> <a href="../elements/id-6d63fb7fd8e3493c82a20c5fd3550da2.html" target="element"> Behandelplan </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>