<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>02. Onderhouden contacten</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>02. Onderhouden contacten</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f7b30c20a69c49dba9abb38ce2f11cfc.png" alt="02. Onderhouden contacten" usemap="#id-f7b30c20a69c49dba9abb38ce2f11cfcmap"/>
			   <map name="id-f7b30c20a69c49dba9abb38ce2f11cfcmap">
				  		<area shape="rect" coords="67,118,92,138" href="../views/id-d693ace87f154625b0223b5891015691.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="334,106,474,186" href="../elements/id-bf2d535f358e4edd93ab01eabe21b793.html"  target="element">
				  		<area shape="rect" coords="334,10,474,90" href="../elements/id-b53981b916bc4861b8c33ac8090aa59f.html"  target="element">
				  		<area shape="rect" coords="10,58,150,138" href="../elements/id-b3dd3f235b2f490ca86bfcf9862ec1a4.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-b3dd3f235b2f490ca86bfcf9862ec1a4.html" target="element"> Onderhouden contacten </a> </td>
											    <td> <a href="../elements/id-b3dd3f235b2f490ca86bfcf9862ec1a4.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b53981b916bc4861b8c33ac8090aa59f.html" target="element"> Marktanalyse </a> </td>
											    <td> <a href="../elements/id-b53981b916bc4861b8c33ac8090aa59f.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf2d535f358e4edd93ab01eabe21b793.html" target="element"> Producten- en dienstencatalogus </a> </td>
											    <td> <a href="../elements/id-bf2d535f358e4edd93ab01eabe21b793.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-d693ace87f154625b0223b5891015691.html" target="view"> 04. Marketing </a> </td>
											    <td> <a href="../views/id-d693ace87f154625b0223b5891015691.html" target="view" class="i18n-viewpoint-service_realization"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-83c24a7b70b040e695b6506c940328ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-83c24a7b70b040e695b6506c940328ea.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3dd3f235b2f490ca86bfcf9862ec1a4.html" target="element"> Onderhouden contacten </a> </td>
																		<td> <a href="../elements/id-b53981b916bc4861b8c33ac8090aa59f.html" target="element"> Marktanalyse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6f3d2d2ccc80442b85fbcb8550ff9e29.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f3d2d2ccc80442b85fbcb8550ff9e29.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3dd3f235b2f490ca86bfcf9862ec1a4.html" target="element"> Onderhouden contacten </a> </td>
																		<td> <a href="../elements/id-bf2d535f358e4edd93ab01eabe21b793.html" target="element"> Producten- en dienstencatalogus </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>