<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>07. Aanvullend onderzoek</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>07. Aanvullend onderzoek</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-service_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_service_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f5708eb2ebce44afa214e706683c3549.png" alt="07. Aanvullend onderzoek" usemap="#id-f5708eb2ebce44afa214e706683c3549map"/>
			   <map name="id-f5708eb2ebce44afa214e706683c3549map">
				  		<area shape="rect" coords="254,69,278,90" href="../views/id-7ae3dd73c51541618f3ca4f48dbfca41.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="420,262,560,342" href="../elements/id-f3e6fb3fce674b548881b65e71703d0f.html"  target="element">
				  		<area shape="rect" coords="732,262,872,342" href="../elements/id-730829c88a1546c79ee378365a20d678.html"  target="element">
				  		<area shape="rect" coords="576,262,716,342" href="../elements/id-efdc30b967d647a7b32b4de9106d2c75.html"  target="element">
				  		<area shape="rect" coords="272,262,412,342" href="../elements/id-6a6560d43f1a4a7e9ed8716788c5eb92.html"  target="element">
				  		<area shape="rect" coords="120,262,260,342" href="../elements/id-852f17aadeea49cdb90bcd749fe1a14a.html"  target="element">
				          <area shape="rect" coords="10,262,97,342" href="../objects/id-d2f60f05fd8a44be805eafb3548df71e.html" target="element" >
				          <area shape="rect" coords="10,130,90,210" href="../objects/id-88e19ba8746b48c1ab0df2b41bf18c4c.html" target="element" >
				          <area shape="rect" coords="10,10,90,90" href="../objects/id-c01b38ae5cdf4aa59e86797da5a11b28.html" target="element" >
				  		<area shape="rect" coords="272,130,412,210" href="../elements/id-cf25af3eea2744af9162cbb86c07b0fa.html"  target="element">
				  		<area shape="rect" coords="120,130,260,210" href="../elements/id-a0c3c530d8f84a38a7bfcff3e1e57fd8.html"  target="element">
				  		<area shape="rect" coords="120,10,412,90" href="../elements/id-85ddf0c6b15f4315b08210684274be9b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Aanvullend onderzoek bevat de activiteiten op het gebied van het doen van intern of extern aanvullend onderzoek ten behoeve van toeleiding of behandeling van de pati&#235;nt.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-85ddf0c6b15f4315b08210684274be9b.html" target="element"> Aanvullend onderzoek </a> </td>
											    <td> <a href="../elements/id-85ddf0c6b15f4315b08210684274be9b.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a0c3c530d8f84a38a7bfcff3e1e57fd8.html" target="element"> Uitvoeren aanvullend onderzoek </a> </td>
											    <td> <a href="../elements/id-a0c3c530d8f84a38a7bfcff3e1e57fd8.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cf25af3eea2744af9162cbb86c07b0fa.html" target="element"> Opstellen verslag </a> </td>
											    <td> <a href="../elements/id-cf25af3eea2744af9162cbb86c07b0fa.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-c01b38ae5cdf4aa59e86797da5a11b28.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c01b38ae5cdf4aa59e86797da5a11b28.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-88e19ba8746b48c1ab0df2b41bf18c4c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-88e19ba8746b48c1ab0df2b41bf18c4c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d2f60f05fd8a44be805eafb3548df71e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d2f60f05fd8a44be805eafb3548df71e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-852f17aadeea49cdb90bcd749fe1a14a.html" target="element"> Onderzoek </a> </td>
											    <td> <a href="../elements/id-852f17aadeea49cdb90bcd749fe1a14a.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6a6560d43f1a4a7e9ed8716788c5eb92.html" target="element"> Onderzoeksmateriaal </a> </td>
											    <td> <a href="../elements/id-6a6560d43f1a4a7e9ed8716788c5eb92.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-efdc30b967d647a7b32b4de9106d2c75.html" target="element"> Uitslag onderzoek </a> </td>
											    <td> <a href="../elements/id-efdc30b967d647a7b32b4de9106d2c75.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-730829c88a1546c79ee378365a20d678.html" target="element"> Onderzoeksverslag </a> </td>
											    <td> <a href="../elements/id-730829c88a1546c79ee378365a20d678.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f3e6fb3fce674b548881b65e71703d0f.html" target="element"> Beeld </a> </td>
											    <td> <a href="../elements/id-f3e6fb3fce674b548881b65e71703d0f.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-7ae3dd73c51541618f3ca4f48dbfca41.html" target="view"> 01. Diensten </a> </td>
											    <td> <a href="../views/id-7ae3dd73c51541618f3ca4f48dbfca41.html" target="view" class="i18n-viewpoint-service_realization"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-e831961e22a044d08f75a7525336ec9b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e831961e22a044d08f75a7525336ec9b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0c3c530d8f84a38a7bfcff3e1e57fd8.html" target="element"> Uitvoeren aanvullend onderzoek </a> </td>
																		<td> <a href="../elements/id-85ddf0c6b15f4315b08210684274be9b.html" target="element"> Aanvullend onderzoek </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-922c0ebd7cb14c6bafce57518c222f17.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-922c0ebd7cb14c6bafce57518c222f17.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cf25af3eea2744af9162cbb86c07b0fa.html" target="element"> Opstellen verslag </a> </td>
																		<td> <a href="../elements/id-85ddf0c6b15f4315b08210684274be9b.html" target="element"> Aanvullend onderzoek </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>